<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Admin panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{~/adm/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{~/adm/css/login.css}">
</head>
<body>
<div class="container">
	<form class="form-signin" th:action="@{/admin/login}" method='POST'>
		<h2 class="form-signin-heading">Панель управления</h2>
		<label for="inputEmail" class="sr-only">Имя пользователя</label>
		<input type="text" id="inputEmail" name='username' class="form-control" placeholder="Имя пользователя" required autofocus>
		<label for="inputPassword" class="sr-only">Пароль</label>
		<input type="password" id="inputPassword" name='password' class="form-control" placeholder="Пароль" required>
		<button class="btn btn-lg btn-block" type="submit" value="submit" name="submit">Войти</button>
	</form>
</div>
</body>
</html>
