<section class="contacts">
    <div class="container">
        <h2 th:text="${contact.contactContents[0].infoTitle}"></h2>
        <p th:text="${contact.contactContents[0].infoAddress}"></p>
        <div th:utext="${contact.contactContents[0].infoPhones}"></div>
        <br>
        <p><strong>Время работы:</strong></p>
        <p th:text="${contact.contactContents[0].infoWorking}"></p>
    </div>
</section>

<div id="map"></div>

<!-- Contacts page -->
<script th:inline="javascript">
        $(document).ready(function () {

            $('.why ul').each(function(){
                var highestBox = 0;
                $('p',this).each(function(){
                    $(this).height('auto');
                    if($(this).height() > highestBox) {
                        highestBox = $(this).height();
                    }
                });
                $('p',this).height(highestBox);
            });

        });

        $(window).resize(function () {

            $('.why ul').each(function(){
                var highestBox = 0;
                $('p',this).each(function(){
                    $(this).height('auto');
                    if($(this).height() > highestBox) {
                        highestBox = $(this).height();
                    }
                });
                $('p',this).height(highestBox);
            });

        });

        function initMap() {
            var myLatlng = {lat: parseFloat(/*[[${contact.adressLtg}]]*/), lng: parseFloat(/*[[${contact.adressLng}]]*/)};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: myLatlng
            });
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                icon: 'images/map-pin.png'
            });
            var noPoi = [
                {
                    featureType: "poi",
                    stylers: [
                        { visibility: "off" }
                    ]
                }
            ];
            map.setOptions({styles: noPoi});
            var village = [
                {lat: 46.807527, lng: 30.363222},
                {lat: 46.808726, lng: 30.368157},
                {lat: 46.807703, lng: 30.368596},
                {lat: 46.808036, lng: 30.374561},
                {lat: 46.806675, lng: 30.374465},
                {lat: 46.806628, lng: 30.375960},
                {lat: 46.803900, lng: 30.376268},
                {lat: 46.803933, lng: 30.375041},
                {lat: 46.802416, lng: 30.374701},
                {lat: 46.802467, lng: 30.372714},
                {lat: 46.797310, lng: 30.373873},
                {lat: 46.795938, lng: 30.374539},
                {lat: 46.796197, lng: 30.377520},
                {lat: 46.793456, lng: 30.378110},
                {lat: 46.794267, lng: 30.385313},
                {lat: 46.790551, lng: 30.387021},
                {lat: 46.790111, lng: 30.384298},
                {lat: 46.787818, lng: 30.385414},
                {lat: 46.785792, lng: 30.377856},
                {lat: 46.784472, lng: 30.378008},
                {lat: 46.784056, lng: 30.374508},
                {lat: 46.785075, lng: 30.374339},
                {lat: 46.784704, lng: 30.370095},
                {lat: 46.785723, lng: 30.369672},
                {lat: 46.784947, lng: 30.366426},
                {lat: 46.790840, lng: 30.363090},
                {lat: 46.791612, lng: 30.366074},
                {lat: 46.801951, lng: 30.361294},
                {lat: 46.802690, lng: 30.365285}
            ];
            var villageFigure = new google.maps.Polygon({
                path: village,
                strokeColor: '#FF0000',
                strokeOpacity: 0.4,
                strokeWeight: 1,
                fillColor: '#FF0000',
                fillOpacity: 0.1
            });
            villageFigure.setMap(map);
        }
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA1r_EKrIBbzNIN10hd0DAYJvj4HxNyBw&callback=initMap"></script>
