<section class="text">
    <div class="container">
        <th:block th:utext=${forInvestors.forInvestorsContents[0].text}>Текст</th:block>
        <div class="text-center">
            <button type="button" class="btn btn-filled-g btn-sm" data-toggle="modal" data-target="#modal-invest">отправить запрос на инвестирование</button>
        </div>
    </div>
</section>

<th:block th:replace="~{site/content_templates/sections :: #why-we-section}"></th:block>
<th:block th:replace="~{site/content_templates/sections :: #work-over-world-section}"></th:block>