    <section class="build">
        <div class="container">
            <h3 class="wow fadeInLeft">что мы строим<span><i></i></span></h3>
        </div>
        <div class="build-wrapper wow fadeInRight">
            <ul class="build-list">


                <!--ряд 1-->
                <li class="b-l-hide-mob"></li>
                <li>
                    <p>
                        <span>
                            <img th:src="@{'~/images/whatwebuild/' + ${whatWeBuilds[0].id} + '.jpg'}" th:alt="${whatWeBuilds[0].pictureContents[0].pictureTitle}">
                        </span>
                    </p>
                    <strong><span th:text="${whatWeBuilds[0].pictureContents[0].pictureTitle}">Гостиницы</span></strong>
                </li>
                <li>
                    <p>
                        <span>
                        </span>
                    </p>
                    <strong><span th:text="${whatWeBuilds[1].pictureContents[0].pictureTitle}">Малоквартирные дома</span></strong>
                </li>
                <li class="b-l-hide"></li>
                <li class="b-l-hide">
                    <p class="b-o"></p>
                </li>
                <li>
                    <p>
                        <span>
                            <img th:src="@{'~/images/whatwebuild/' + ${whatWeBuilds[2].id} + '.jpg'}" th:alt="${whatWeBuilds[2].pictureContents[0].pictureTitle}">
                        </span>
                    </p>
                    <strong><span th:text="${whatWeBuilds[2].pictureContents[0].pictureTitle}">Комплексы</span></strong>
                </li>
                <li class="b-l-hide-mob">
                    <p class="b-g"></p>
                </li>
                <!--ряд 1-->


                <!--ряд 2-->
                <li class="b-l-hide-mob">
                    <p class="f-o"></p>
                </li>
                <li>
                    <p>
                        <span>
                            <img th:src="@{'~/images/whatwebuild/' + ${whatWeBuilds[3].id} + '.jpg'}" th:alt="${whatWeBuilds[3].pictureContents[0].pictureTitle}">
                        </span>
                    </p>
                    <strong><span th:text="${whatWeBuilds[3].pictureContents[0].pictureTitle}">Базы отдыха</span></strong>
                </li>
                <li>
                    <p>
                        <span>
                            <img th:src="@{'~/images/whatwebuild/' + ${whatWeBuilds[4].id} + '.jpg'}" th:alt="${whatWeBuilds[4].pictureContents[0].pictureTitle}">
                        </span>
                    </p>
                    <strong><span th:text="${whatWeBuilds[4].pictureContents[0].pictureTitle}">Отели</span></strong>
                </li>
                <li class="b-l-hide-mob">
                    <p class="f-g"></p>
                </li>
                <!--ряд 2-->


                <!--ряд 3-->
                <li class="b-l-hide-mob">
                    <p class="f-g b-l-hide"></p>
                </li>
                <li class="b-l-hide-inverse">
                    <p class="b-o"></p>
                </li>
                <li>
                    <p>
                        <span>
                            <img th:src="@{'~/images/whatwebuild/' + ${whatWeBuilds[5].id} + '.jpg'}" th:alt="${whatWeBuilds[5].pictureContents[0].pictureTitle}">
                        </span>
                    </p>
                    <strong><span th:text="${whatWeBuilds[5].pictureContents[0].pictureTitle}">Малоэтажные дома</span></strong>
                </li>
                <li class="b-l-hide-mob">
                    <p class="f-o"></p>
                </li>
                <li class="b-l-hide-inverse"></li>
                <!--ряд 3-->


                <!--ряд 4(дополнительный)-->
                <!--li class="b-l-hide-mob"></li>
                <li>
                    <p>
                        <span>
                            <img src="images/build-4.jpg" alt="house">
                        </span>
                    </p>
                    <strong><span>Малоэтажные дома</span></strong>
                </li>
                <li>
                    <p>
                        <span>
                            <img src="images/build-4.jpg" alt="house">
                        </span>
                    </p>
                    <strong><span>Малоэтажные дома</span></strong>
                </li-->
                <!--ряд 4-->


            </ul>
        </div>
        <div class="container text-center">
            <button type="button" class="btn btn-filled-g" data-toggle="modal" data-target="#modal-build">Хочу узнать стоимость</button>
        </div>
    </section>

    <th:block th:replace="~{site/content_templates/sections :: #why-we-section}"></th:block>
    <th:block th:replace="~{site/content_templates/sections :: #work-over-world-section}"></th:block>
    <th:block th:replace="~{site/content_templates/sections :: #index-page-projects-section}"></th:block>
    <th:block th:replace="~{site/content_templates/sections :: #materials-section}"></th:block>
    <th:block th:replace="~{site/content_templates/sections :: #facility-section}"></th:block>
    <th:block th:replace="~{site/content_templates/sections :: #faq-section}"></th:block>
