<div class="row obj-short-item" th:each="project : ${projects}">
    <div class="col-sm-6">
        <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/1.jpg'}" alt="house">
    </div>
    <div class="col-sm-6">
        <h4 th:utext="${project.projectContents[0].name} + '<span><i></i></span>'">Построенный объект<span><i></i></span></h4>
        <p th:utext="${project.projectContents[0].generalDescription}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
        <a th:href="@{${#request.requestURI} + '/' + ${project.id}}" class="btn btn-filled-o btn-sm-h">ПОДРОБНЕЕ</a>
    </div>
</div>
<th:block th:if="${isNeedPagination}">
    <div class="text-center">
        <button type="button" class="btn btn-bordered-o btn-lg" id="objects-paginate" th:name="${lastPaginationPosition}">показать еще</button>
    </div>
</th:block>
