    <div class="head-fix"></div>

    <section class="breadcrumbs-wrapper">
        <div class="container">
            <ol class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li><a href="/objects">Построенные объекты</a></li>
                <li th:if="(${objectType})"><a th:href="@{'~/objects/' + ${objectType.uri}}">[[${objectType.objectTypeContents[0].name}]]</a></li>
                <li th:unless="(${objectType})"><a th:href="@{'~/objects/all'}">Все объекты</a></li>
                <li th:text="${project.projectContents[0].name}"></li>
            </ol>
        </div>
    </section>

    <section class="object">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="main-slider">
                        <th:block th:each="i:${#numbers.sequence(1, picCount)}">
                        <div>
                            <button type="button" data-toggle="modal" data-target="#main-modal" tabindex="0">
                                <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" alt="house">
                            </button>
                        </div>
                        </th:block>
                    </div>
                    <div class="main-slider-nav">
                        <th:block th:each="i:${#numbers.sequence(1, picCount)}">
                        <div>
                            <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" alt="house">
                        </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4 th:utext="${project.projectContents[0].name} + '<span><i></i></span>'">Построенный объект<span><i></i></span></h4>
                    <p th:utext="${project.projectContents[0].generalDescription}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
                    <th:block th:if="(${project} != null) and (not ${#strings.isEmpty(project.video)})">
                        <button type="button" class="video-btn" data-toggle="modal" data-target="#modal-video">
                            <span>
                                <img th:src="@{~/images/video-btn.png}" alt="video button">
                            </span>
                            смотреть видео о проекте
                        </button>
                    </th:block>
                    <form id="modal-object-form" class="modal-form" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-filled-o btn-full" data-form-text="объект-экскурсия" >заказать экскурсию</button>
                            <span>На наши построенные объекты</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
