    <section class="objects-short">
        <div class="container" id="objects-list">
            <ul class="obj-list">
                <li th:classappend="${#strings.contains(#request.requestURI, 'all')} ? active"><a th:href="@{~/objects/all}">Все объекты</a></li>
                <li th:each="i : ${#numbers.sequence(0, #lists.size(objectsMenu) - 1)}" th:classappend="${#strings.contains(#request.requestURI, objectsMenu[i].uri)} ? active"><a th:text="${objectsMenu[i].name}" th:href="@{'~/objects/' + ${objectsMenu[i].uri}}">Name</a></li>
            </ul>
            <th:block th:replace="~{site/content_templates/objects-paginated}"></th:block>
        </div>
    </section>
    <script th:src="@{~/js/objects-pagination.js}"></script>
