    <section class="partners">
        <div class="build-wrapper">
            <ul class="build-list">
                <li th:each="partner, iterStat : ${partners}" th:if="${iterStat.count} <= 9">
                    <p>
                        <span>
                            <th:block th:unless="${#strings.isEmpty(partner.pictureContents[0].pictureLink)}">
                                <a th:href="${partner.pictureContents[0].pictureLink}" th:target="_blank">
                                    <img th:src="'/images/partner/' + ${partner.id} + '.jpg'" th:alt="${partner.pictureContents[0].pictureTitle}">
                                </a>
                            </th:block>
                            <th:block th:if="${#strings.isEmpty(partner.pictureContents[0].pictureLink)}">
                                <img th:src="'/images/partner/' + ${partner.id} + '.jpg'" th:alt="${partner.pictureContents[0].pictureTitle}">
                            </th:block>
                        </span>
                    </p>
                </li>
            </ul>
        </div>
    </section>