    <section class="price">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-tabs">
                        <li th:each="price, iterStat : ${prices}" th:classappend="${iterStat.count == 1} ? active"><a th:href="'#tab-' + ${price.id}" th:utext="${price.priceContents[0].name} + '<span></span>'" data-toggle="tab">Многоквартирные жилые дома</a></li>
                    </ul>
                    <button type="button" class="btn btn-full btn-sm btn-filled-g" data-toggle="modal" data-target="#modal-price">скачать все прайсы</button>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div th:each="price, iterStat : ${prices}" th:classappend="${iterStat.count == 1} ? 'in active'" class="tab-pane fade" th:id="'tab-' + ${price.id}">
                            <h4 th:text="${price.priceExcelContent.priceTile}"></h4>
                            <div class="table-overflow">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Стадии работ</td>
                                        <td>Опции</td>
                                        <td><p>Комплектация «Базовая»</p></td>
                                        <td><p>Комплектация «Комфорт»</p></td>
                                        <td><p>Комплектация «Люкс»</p></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="5"></td>
                                        </tr>
                                    <th:block th:each="option, iterSt: ${price.priceExcelContent.priceOptions}">
                                        <tr>
                                            <td><p th:text="${option.optionTitle}">Подготовительные работы</p></td>
                                            <td colspan="4">
                                                <table>
                                                    <tbody>
                                                        <tr th:each="stage : ${option.priceStages}">
                                                            <td th:text="${stage.stageTitle}">Проект</td>
                                                            <td><span th:classappend="${stage.inBase} ? 'plus' : 'minus'" class=""></span></td>
                                                            <td><span th:classappend="${stage.inComfort} ? 'plus' : 'minus'" class=""></span></td>
                                                            <td><span th:classappend="${stage.inLux} ? 'plus' : 'minus'" class=""></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <div th:if="not ${iterSt.last}"></div>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td>Стоимость у.е. за 1 кв.м.</td>
                                            <td><p th:text="'от ' + ${price.priceExcelContent.basePrice}">от 330</p></td>
                                            <td><p th:text="'от ' + ${price.priceExcelContent.comfortPrice}">от 420</p></td>
                                            <td><p th:text="'от ' + ${price.priceExcelContent.luxPrice}">от 470</p></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><button type="button" class="btn btn-filled-o" data-toggle="modal" data-target="#modal-price-base">подать заявку</button></td>
                                            <td><button type="button" class="btn btn-filled-o"  data-toggle="modal" data-target="#modal-price-comfort">подать заявку</button></td>
                                            <td><button type="button" class="btn btn-filled-o"  data-toggle="modal" data-target="#modal-price-lux">подать заявку</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
