    <div class="head-fix"></div>

    <section class="breadcrumbs-wrapper">
        <div class="container">
            <ol class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li><a href="/projects">Проекты</a></li>
                <li th:text="${project.projectContents[0].name}"></li>
            </ol>
        </div>
    </section>

    <section class="object project">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="main-slider">
                        <th:block th:each="i:${#numbers.sequence(1, picCount)}">
                        <div>
                            <button type="button" data-toggle="modal" data-target="#main-modal" tabindex="0">
                                <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" alt="house">
                            </button>
                        </div>
                        </th:block>
                    </div>
                    <div class="main-slider-nav">
                        <th:block th:each="i:${#numbers.sequence(1, picCount)}">
                        <div>
                            <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" alt="house">
                        </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4 th:utext="${project.projectContents[0].name} + '<span><i></i></span>'"><span><i></i></span></h4>
                    <ul class="rielt-info">
                        <li>
                            <div>Внешние размеры:</div>
                            <div>
                                <h6 th:text="${project.dimensions}"></h6>
                            </div>
                        </li>
                        <li>
                            <div>Жилая площадь:</div>
                            <div>
                                <h6 th:text="${project.square} + ' м2'"></h6>
                            </div>
                        </li>
                        <li>
                            <div>Стоимость:</div>
                            <div>
                                <th:block th:remove="${isActionPeriod} ? none : all">
                                    <strong th:text="((${project.coast} != null) and (${project.coast} != '')) ? ${project.coast} + ' у. е.' : 'уточняйте у менеджера'">250 у. е.</strong>
                                </th:block>
                                <th:block th:remove="${isActionPeriod} ? all : none">
                                    <h6 th:text="((${project.coast} != null) and (${project.coast} != '')) ? ${project.coast} + ' у. е.' : 'уточняйте у менеджера'">250 у. е.</h6>
                                </th:block>
                            </div>
                        </li>
                        <th:block th:remove="${isActionPeriod} ? none : all">
                        <li>
                            <div>Акционная стоимость:</div>
                            <div>
                               <b th:text="((${project.coastAction} != null) and (${project.coastAction} != '')) ? ${project.coastAction} + ' у. е.' : 'уточняйте у менеджера'">120 у. е.</b>
                            </div>
                        </li>
                        </th:block>
                    </ul>
                    <th:block th:remove="${isActionPeriod} ? none : all">
                        <p th:text="'Акция действует до ' + ${#temporals.format(project.actionEnd, 'dd.MM.YY')}" >Акция действует до 31.12.2017</p>
                    </th:block>
                    <th:block th:if="(${project} != null) and (not ${#strings.isEmpty(project.video)})">
                        <button type="button" class="video-btn" data-toggle="modal" data-target="#modal-video">
                            <span>
                                <img th:src="@{~/images/video-btn.png}" alt="video button">
                            </span>
                            смотреть видео о проекте
                        </button>
                    </th:block>
                    <br>
                     <div class="form-group">
                        <button type="button" class="btn btn-filled-o btn-sm btn-sm-h" data-toggle="modal" data-target="#modal-project">подробнее</button>
                        <button type="button" class="btn btn-bordered-g btn-sm btn-sm-h" data-toggle="modal" data-target="#modal-download">СКАЧАТЬ КАТАЛОГ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="project-info">
        <div class="container">
            <h3>планировка<span><i></i></span></h3>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab">1 этаж</a></li>
                <li><a th:remove="${project.projectContents[0].floor2description == null} ? all : none" href="#tab-2" data-toggle="tab">2 этаж</a></li>
                <li><a th:remove="${project.projectContents[0].floor3description == null} ? all : none" href="#tab-3" data-toggle="tab">3 этаж</a></li>
                <li><a th:remove="${project.projectContents[0].floor4description == null} ? all : none" href="#tab-4" data-toggle="tab">4 этаж</a></li>
            </ul>
            <div class="tab-content">
                <th:block th:remove="${project.projectContents[0].floor1description == null} ? all : none">
                <div class="tab-pane fade in active" id="tab-1">
                    <div class="row">
                        <div class="col-sm-7 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                            <img th:src="@{'~/images/projects/' + ${project.id} + '/plan/floor1.jpg'}" alt="plan">
                        </div>
                        <div class="col-sm-5">
                            <p th:text=${project.projectContents[0].floor1description}></p>
                        </div>
                    </div>
                </div>
                </th:block>
                <th:block th:remove="${project.projectContents[0].floor2description == null} ? all : none" >
                    <div class="tab-pane fade " id="tab-2">
                        <div class="row">
                            <div class="col-sm-7 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                                <img th:src="@{'~/images/projects/' + ${project.id} + '/plan/floor2.jpg'}" alt="plan">
                            </div>
                            <div class="col-sm-5">
                                <p th:text=${project.projectContents[0].floor2description}></p>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:remove="${project.projectContents[0].floor3description == null} ? all : none" >
                    <div class="tab-pane fade " id="tab-3">
                        <div class="row">
                            <div class="col-sm-7 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                                <img th:src="@{'~/images/projects/' + ${project.id} + '/plan/floor3.jpg'}" alt="plan">
                            </div>
                            <div class="col-sm-5">
                                <p th:text=${project.projectContents[0].floor3description}></p>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:remove="${project.projectContents[0].floor4description == null} ? all : none" >
                    <div class="tab-pane fade " id="tab-4">
                        <div class="row">
                            <div class="col-sm-7 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                                <img th:src="@{'~/images/projects/' + ${project.id} + '/plan/floor4.jpg'}" alt="plan">
                            </div>
                            <div class="col-sm-5">
                                <p th:text=${project.projectContents[0].floor4description}></p>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-filled-g" data-toggle="modal" data-target="#modal-zero">хочу рассрочку под 0%</button>
            </div>
        </div>
    </section>

    <th:block th:replace="~{site/content_templates/sections :: #materials-section}"></th:block>
