    <div class="col-sm-4" th:each="project : ${projects}">
        <a th:href="@{'~/projects/' + ${project.id}}" class="obj-item">
            <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/1.jpg'}" alt="house">
            <h4 th:text="${project.projectContents[0].name}"></h4>
            <p th:text="'Внешние размеры: ' + ${project.dimensions}">Внешние размеры</p>
            <p th:text="'Жилая площадь: ' + ${project.square} + ' м2'">Жилая площадь</p>
            <p class="btn btn-sm-h">ПОДРОБНЕЕ</p>
        </a>
    </div>
    <th:block th:if="${isNeedPagination}">
        <div class="text-center" id="projects-paginate-button-block">
            <button type="button" class="btn btn-bordered-o btn-lg" id="projects-paginate" th:name="${lastPaginationPosition}" >показать еще</button>
        </div>
    </th:block>
