    <section class="projects">
        <div class="container">
            <div class="row">
                <form class="proj-filter" id="projects-filter">
                    <div class="col-sm-4">
                        <p>Метраж, м2</p>
                        <div class="form-group">
                            <input type="text" id="range-slider" value="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p>Этажность</p>
                        <div class="form-group">
                            <select id="floor-select">
                                <option selected >Кол-во этажей</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <i></i>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p class="hidden-xs">&nbsp;</p>
                        <div class="form-group">
                            <button type="submit" class="btn btn-filled-o btn-sm-h btn-full">показать</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row text-center" id="projects-list">
                <th:block th:replace="~{site/content_templates/projects-paginated}"></th:block>
            </div>
        </div>
        <script th:src="@{~/js/projects-pagination.js}"></script>
    </section>
