<div th:each="project, iterStat : ${projects}" class="row obj-short-item">
    <div class="col-sm-6">
        <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/1.jpg'}" alt="house">
    </div>
    <div class="col-sm-6">
        <h4 th:utext="${project.projectContents[0].name} + '<span><i></i></span>'">Дом Модульный<span><i></i></span></h4>
        <ul class="rielt-info">
            <li>
                <div>Адрес:</div>
                <div>
                    <h6 th:text="${project.projectContents[0].address}">г. Одесса, ул. Канатная. 88</h6>
                </div>
            </li>
            <li>
                <div>Стоимость:</div>
                <div>
                    <th:block th:remove="${isActionPeriods[iterStat.index]} ? none : all">
                        <strong th:text="((${project.coast} != null) and (${project.coast} != '')) ? ${project.coast} + ' у. е.' : 'уточняйте у менеджера'">250 у. е.</strong>
                    </th:block>
                    <th:block th:remove="${isActionPeriods[iterStat.index]} ?  all : none">
                        <h6 th:text="((${project.coast} != null) and (${project.coast} != '')) ? ${project.coast} + ' у. е.' : 'уточняйте у менеджера'">250 у. е.</h6>
                    </th:block>
                </div>
            </li>
            <th:block th:remove="${isActionPeriods[iterStat.index]} ? none : all">
                <li>
                    <div>Акционная стоимость:</div>
                    <div>
                        <b th:text="((${project.coastAction} != null) and (${project.coastAction} != '')) ? ${project.coastAction} + ' у. е.' : 'уточняйте у менеджера'">120 у. е.</b>
                    </div>
                </li>
            </th:block>
        </ul>
        <th:block th:remove="${isActionPeriods[iterStat.index]} ? none : all">
            <p th:text="'Акция действует до ' + ${#temporals.format(project.actionEnd, 'dd.MM.YY')}" >Акция действует до 31.12.2017</p>
        </th:block>
        <a th:href="@{${#request.requestURI} + '/' + ${project.id}}" class="btn btn-filled-o btn-sm-h">ПОДРОБНЕЕ</a>
    </div>
</div>
<th:block th:if="${isNeedPagination}">
    <div class="text-center">
        <button type="button" class="btn btn-bordered-o btn-lg" id="realtors-paginate" th:name="${lastPaginationPosition}" >показать еще</button>
    </div>
</th:block>