    <section class="objects-short rieltors">
        <div class="container" id="realtors-list">
            <th:block th:replace="~{site/content_templates/realtors-paginated}"></th:block>
        </div>
    </section>
    <script th:src="@{~/js/realtors-pagination.js}"></script>