    <div class="head-fix"></div>

    <section class="breadcrumbs-wrapper">
        <div class="container">
            <ol class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li><a href="/objects">Наши риэлторы</a></li>
                <li th:text="${project.projectContents[0].name}"></li>
            </ol>
        </div>
    </section>

    <section class="object project">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="main-slider">
                        <th:block th:each="i:${#numbers.sequence(1, picCount)}">
                        <div>
                            <button type="button" data-toggle="modal" data-target="#main-modal" tabindex="0">
                                <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" alt="house">
                            </button>
                        </div>
                        </th:block>
                    </div>
                    <div class="main-slider-nav">
                        <th:block th:each="i:${#numbers.sequence(1, picCount)}">
                        <div>
                            <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" alt="house">
                        </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4 th:utext="${project.projectContents[0].name} + '<span><i></i></span>'">Построенный объект<span><i></i></span></h4>
                    <ul class="rielt-info">
                        <li>
                            <div>Адрес:</div>
                            <div>
                                <h6 th:text="${project.projectContents[0].address}">г. Одесса, ул. Канатная. 88</h6>
                            </div>
                        </li>
                        <li>
                            <div>Жилая площадь:</div>
                            <div>
                                <h6 th:text="${project.square} + ' м2'">200 м2</h6>
                            </div>
                        </li>
                        <li>
                            <div>Стоимость:</div>
                            <div>
                                <th:block th:remove="${isActionPeriod} ? none : all">
                                    <strong th:text="((${project.coast} != null) and (${project.coast} != '')) ? ${project.coast} + ' у. е.' : 'уточняйте у менеджера'">250 у. е.</strong>
                                </th:block>
                                <th:block th:remove="${isActionPeriod} ?  all : none">
                                    <h6 th:text="((${project.coast} != null) and (${project.coast} != '')) ? ${project.coast} + ' у. е.' : 'уточняйте у менеджера'">250 у. е.</h6>
                                </th:block>
                            </div>
                        </li>
                        <th:block th:remove="${isActionPeriod} ? none : all">
                            <li>
                                <div>Акционная стоимость:</div>
                                <div>
                                    <b th:text="((${project.coastAction} != null) and (${project.coastAction} != '')) ? ${project.coastAction} + ' у. е.' : 'уточняйте у менеджера'">120 у. е.</b>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                        <th:block th:remove="${isActionPeriod} ? none : all">
                            <p th:text="'Акция действует до ' + ${#temporals.format(project.actionEnd, 'dd.MM.YY')}" >Акция действует до 31.12.2017</p>
                        </th:block>
                    <div class="form-group">
                        <button type="button" class="btn btn-filled-o btn-sm btn-sm-h" data-toggle="modal" data-target="#modal-rieltor">связаться с риэлтором</button>
                        <button type="button" class="btn btn-bordered-g btn-sm btn-sm-h" data-toggle="modal" data-target="#modal-zero">хочу рассрочку под 0%</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="project-info">
        <div class="container">
            <h3>планировка<span><i></i></span></h3>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                    <div class="row">
                        <div class="col-sm-7 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                            <img th:src="@{'~/images/projects/' + ${project.id} + '/plan/plan.jpg'}" alt="plan">
                        </div>
                        <div class="col-sm-5">
                            <p th:text=${project.projectContents[0].generalDescription}></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="materials">
        <div class="container">
            <h3 class="wow fadeInLeft">из чего строим<span><i></i></span></h3>
            <img th:src="@{~/images/materials.jpg}" alt="materials" class="wow fadeInRight">
            <br>
            <button type="button" class="btn btn-filled-g" data-toggle="modal" data-target="#modal-materials">узнать подробнее</button>
            <p>о нашей технологии</p>
        </div>
    </section>

    <section class="own" th:style="'background: #322f19 url('+@{'~/images/own-bg.jpg'}+') no-repeat center;'">
        <div class="container">
            <h2>монтаж готового объекта<strong>от 8 часов<span><i></i></span></strong></h2>
        </div>
    </section>
