<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>

    <section id="why-we-section" class="why">
        <div class="container">
            <h3 class="wow fadeInLeft">Почему мы<span><i></i></span></h3>
            <ul>
                <li th:each="whyWe : ${whyWes}" class="wow fadeInUp">
                    <img th:src="@{'~/images/whywe/' + ${whyWe.id} + '.png'}" alt="temperature">
                    <p th:text="${whyWe.pictureContents[0].pictureTitle}">Picture title</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="work-over-world-section" class="work-world" th:style="'background: #354145 url(' + @{~/images/work-world-bg.jpg} + ') no-repeat center;'">
        <div class="container">
            <div class="map-pin">
                <div class="figure wow flipInX"></div>
                <div class="center-pin wow flipInX" data-wow-delay="0.2s"></div>
                <div class="pin-1 wow flipInX" data-wow-delay="1s"></div>
                <div class="pin-2 wow flipInX" data-wow-delay="0.4s"></div>
                <div class="pin-3 wow flipInX" data-wow-delay="0.8s"></div>
                <div class="pin-4 wow flipInX" data-wow-delay="0.6s"></div>
                <div class="pin-5 wow flipInX" data-wow-delay="1.2s"></div>
            </div>
            <h2>Работаем по всему миру</h2>
        </div>
    </section>

    <section id="materials-section" class="materials">
        <div class="container">
            <h3 class="wow fadeInLeft">Из чего строим<span><i></i></span></h3>
            <img th:src="@{~/images/materials.jpg}" alt="materials" class="wow fadeInRight">
            <br>
            <button type="button" class="btn btn-filled-g" data-toggle="modal" data-target="#modal-materials">Узнать подробнее</button>
            <p>О нашей технологии</p>
        </div>
    </section>

    <section id="facility-section" class="own" th:style="'background: #322f19 url(' + @{~/images/facility/own-bg.jpg} + ') no-repeat center;'">
        <div class="container"><h2>[[${facility.facilityContents[0].textSmall}]]<strong>[[${facility.facilityContents[0].textBig}]] <span><i></i></span></strong></h2>
        </div>
    </section>

    <section id="certificates-section" class="sertificates">
        <div class="container">
            <h3 class="wow fadeInLeft">Сертификаты<span><i></i></span></h3>
            <div class="sert">
                <div th:each="certificate : ${certificates}">
                    <img th:src="@{'~/images/certificate/' + ${certificate.id} + '.jpg'}" alt="sertificate">
                </div>
            </div>
        </div>
    </section>

        <section id="index-page-projects-section" class="objects">
        <div class="container">
            <h3 class="wow fadeInLeft">Типовые проекты<span><i></i></span></h3>
            <div class="row wow fadeInRight">

                <div class="col-sm-4" th:each="project : ${projects}">
                    <a th:href="@{'~/projects/'+ ${project.id}}" class="obj-item">
                        <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/1.jpg'}" alt="house">
                        <h4 th:text="${project.projectContents[0].name}"></h4>
                        <p th:text="'Внешние размеры: ' + ${project.dimensions}">Внешние размеры</p>
                        <p th:text="'Жилая площадь: ' + ${project.square} + ' м2'">Жилая площадь</p>
                        <p class="btn btn-sm-h">Подробнее</p>
                    </a>
                </div>

            </div>
            <div class="text-center">
                <a th:href="@{~/projects}" class="btn btn-bordered-o">Смотреть все проекты</a>
            </div>
        </div>
    </section>

    <section id="faq-section" class="faq-outer">
        <div class="container">
            <h3 class="wow fadeInLeft">FAQ<span><i></i></span></h3>
            <div th:each="i : ${#numbers.sequence(0, (#lists.size(faqs) - 2 - (#lists.size(faqs) mod 2))/2)}" class="row">
                <th:block ${faqs[i*2].faqContents[0]}?>
                    <div class="col-sm-6">
                        <ul class="faq wow fadeInUp">
                            <li><span></span></li>
                            <li>
                                <h6 th:text="${faqs[i*2].faqContents[0].question}"></h6>
                                <p th:text="${faqs[i*2].faqContents[0].answer}"></p>
                            </li>
                        </ul>
                    </div>
                </th:block>
                <th:block ${faqs[i*2+1].faqContents[0]}?>
                    <div class="col-sm-6">
                        <ul class="faq wow fadeInUp">
                            <li><span></span></li>
                            <li>
                                <h6 th:text="${faqs[i*2+1].faqContents[0].question}"></h6>
                                <p th:text="${faqs[i*2+1].faqContents[0].answer}"></p>
                            </li>
                        </ul>
                    </div>
                </th:block>
            </div>
            <th:block th:if="${(#lists.size(faqs) mod 2) == 1}">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="faq wow fadeInUp">
                            <li><span></span></li>
                            <li>
                                <h6 th:text="${faqs[#lists.size(faqs)-1].faqContents[0].question}"></h6>
                                <p th:text="${faqs[#lists.size(faqs)-1].faqContents[0].answer}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </th:block>
        </div>
    </section>

</body>
</html>
