    <section class="team">
        <div class="build-wrapper">
            <div class="team-leader">
                <div>
                    <div>
                        <span>
                            <img th:src="'/images/employee/' + ${employees[0].id} + '.jpg'" th:alt="${employees[0].pictureContents[0].pictureTitle}">
                        </span>
                    </div>
                </div>
                <div>
                    <h4 th:text="${employees[0].pictureContents[0].pictureTitle}">Иванов Федор Иванович</h4>
                    <h5>Генеральный директор ECMOS</h5>
                    <p th:utext="${forTeamText}? ${forTeamText.forTeamTextContents[0].text}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit</p>
                </div>
            </div>
        </div>
        <div class="build-wrapper">
            <ul class="build-list">
                <li th:each="employee, iterStat : ${employees}" th:if="((${iterStat.first} != true) and (${iterStat.count} <= 9))">
                    <p>
                        <span>
                            <img th:src="'/images/employee/' + ${employee.id} + '.jpg'" th:alt="${employee.pictureContents[0].pictureTitle}">
                        </span>
                    </p>
                    <strong><span th:text="${employee.pictureContents[0].pictureTitle}">Иванов С. А.</span></strong>
                </li>
            </ul>
        </div>
    </section>

    <th:block th:replace="~{site/content_templates/sections :: #why-we-section}"></th:block>
    <th:block th:replace="~{site/content_templates/sections :: #facility-section}"></th:block>
    <th:block th:replace="~{site/content_templates/sections :: #certificates-section}"></th:block>
