<meta charset="UTF-8">
<title>Admin</title>
<link rel="stylesheet" th:href="@{~/adm/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{~/adm/css/stylesheet.css}">
<link rel="stylesheet" th:href="@{~/adm/css/font-awesome/css/font-awesome.min.css}">
<script th:src="@{~/adm/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{~/adm/js/sweetalert2.all.js}"></script>