<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

	<header id="header" class="navbar navbar-static-top">
		<div class="navbar-header">
			<a type="button" id="button-menu" class="pull-left"><i class="fa fa-indent fa-lg"></i></a>
		</div>
	</header>

	<nav id="column-left">
		<div id="profile">
			<div>
				<h4 class="menu-title">
					<a href="/" target="_blank"><span class="name">ECMOS</span></a>
				</h4>
				<a href="/logout" class=" btn btn-danger">Выйти</a>
			</div>
		</div>
		<ul id="menu">
			<li id="menu-dashboard">
				<a href="#"><span>Панель управления</span></a>
			</li>
			<li id="menu-home">
				<a class="parent"><i class="fa fa-tags fw"></i><span>Главная</span></a>
				<ul>
					<li>
						<a th:href="@{~/admin/slider}">Слайдер</a>
					</li>
					<li>
						<a th:href="@{~/admin/pictures/whatwebuild}">Что мы строим</a>
					</li>
					<li>
						<a th:href="@{~/admin/pictures/whywe}">Почему мы</a>
					</li>
					<li>
						<a th:href="@{~/admin/facility}">Свое производство</a>
					</li>
					<li>
						<a th:href="@{~/admin/faqs}">FAQ</a>
					</li>
				</ul>
			</li>
			<li id="menu-projects">
				<a class="parent"><i class="fa fa-building fw"></i><span>Каталог</span></a>
				<ul>
					<li>
						<a th:href="@{~/admin/projects/projects}">Проекты</a>
					</li>
					<li>
						<a th:href="@{~/admin/projects/realtors/}">Риэлторы</a>
					</li>
					<li>
						<a th:href="@{~/admin/projects/objects}">Объекты</a>
					</li>
				</ul>
			</li>
			<li id="menu-price">
				<a class="parent" th:href="@{~/admin/prices}"><i class="fa fa-money"></i><span>Прайсы</span></a>
			</li>
			<li id="menu-team">
				<a class="parent"><i class="fa fa-users"></i><span>О нас</span></a>
				<ul>
					<li>
						<a th:href="@{~/admin/pictures/employee}">Сотрудники</a>
					</li>
					<li>
						<a th:href="@{~/admin/pictures/certificate}">Сертификаты</a>
					</li>
				</ul>
			</li>
			<li id="menu-investors">
				<a class="parent" th:href="@{~/admin/forinvestors}"><i class="fa fa-university"></i><span>Инвесторам</span></a>
			</li>
			<li id="menu-partners">
				<a class="parent" th:href="@{~/admin/pictures/partner}"><i class="fa fa-thumbs-o-up"></i><span>Наши партнеры</span></a>
			</li>
			<li id="menu-contact">
				<a class="parent" th:href="@{~/admin/contacts}"><i class="fa fa-map-marker"></i><span>Контакты</span></a>
			</li>
			<li id="menu-requests">
				<a class="parent" th:href="@{~/admin/formrequests}"><i class="fa fa-question"></i><span>Заявки с сайта</span></a>
			</li>
		</ul>
	</nav>

</html>
