@media (max-width: 1300px) {
    .last {
        background-size: 1360px auto !important;
    }
    .sert .slick-prev{
        left: -5px;
    }
    .sert .slick-next{
        right: -5px;
    }
}

@media (max-width: 1199px) {
    .build-wrapper {
        width: 930px;
    }
    .build-list li {
        width: 310px;
        height: 230px;
        margin: 0 0 -70px 0;
    }
    .build-list {
        width: 1550px;
        margin: 0 0 0 -310px;
        padding: 40px 0 95px 0;
    }
    .build-list li p, .team-leader > div div {
        width: 200px;
        height: 200px;
        -webkit-box-shadow: 10px 10px 0 0 #e8e8e8;
        -moz-box-shadow: 10px 10px 0 0 #e8e8e8;
        box-shadow: 10px 10px 0 0 #e8e8e8;
    }
    .build-list li p span {
        width: 285px;
        height: 285px;
        margin: -43px 0 0 -43px;
    }
    .build-list li:nth-of-type(8), .build-list li:nth-of-type(17) {
        margin: 0 0 -70px 155px;
    }
    .build-list li:nth-of-type(11) {
        margin: 0 155px -70px 0;
    }
    .build-list li strong {
        font-size: 16px;
        line-height: 16px;
        min-height: 44px;
    }
    .why li {
        width: 24.5%;
    }
    .faq li h6 {
        font-size: 20px;
        line-height: 26px;
    }
    .slick-arrow {
        left: 20px;
        width: 40px;
        height: 40px;
        margin: -20px 0 0 0;
    }
    .slick-next {
        left: auto;
        right: 20px;
    }
    .start-slider .slick-slide .container{
        max-width: 900px;
    }
    #map {
        height: 400px;
    }
    .sert{
        padding: 0 30px;
    }
    .team .build-list li:nth-of-type(2):before, .team .build-list li:nth-of-type(11):after, .partners .build-list li:nth-of-type(11):after {
        width: 200px;
        height: 200px;
        left: -100px;
        top: -160px;
    }
    .team .build-list li:nth-of-type(11):after, .partners .build-list li:nth-of-type(11):after {
        left: auto;
        right: -100px;
        top: auto;
        bottom: -130px;
    }
    .team-leader {
        margin: 40px 0 30px 210px;
    }
    .team-leader > div {
        width: 275px;
        min-width: 275px;
    }
    .main-slider, .main-slider-nav {
        width: 532px;
    }
    .object h4 {
        font-size: 28px;
        line-height: 36px;
    }
    .modal-slider{
        width: 775px;
    }
    .modal-slider .slick-slide{
        height: 527px;
    }
    .modal-slider-nav{
        width: 130px;
    }
    .modal-slider-nav, .modal-slider-nav .slick-list {
        height: 522px !important;
    }
    .modal-slider-nav .slick-slide {
        height: 92px;
        padding: 5px 0 0 0;
    }
}

@media (max-width: 991px) {
    .menu-btn{
        display: block;
        background: #fd7a00 url("../images/menu-btn.png") no-repeat center;
        background-size: 16px;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        margin: 0 0 0 20px;
        float: right;
    }
    .header .phone {
        margin: 10px 0 0 0;
        width: 100%;
    }
    .header {
        padding: 15px 0;
    }
    .header nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(49, 30, 0, 0.95);
        z-index: 20;
        display: none;
    }
    .top-menu{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .top-menu li {
        margin: 8px 0;
        width: 50%;
        padding: 0 0 0 50px;
    }
    .top-menu li:nth-of-type(odd) {
        text-align: right;
        padding: 0 50px 0 0;
    }
    .top-menu {
        margin: 0;
        width: 100%;
        padding: 0 10px;
    }
    .top-menu li a{
        font-weight: 800;
        font-size: 12px;
        letter-spacing: .12em;
        color: #ffffff !important;
    }
    .menu-close {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        text-transform: uppercase;
        font-size: 10px;
        background: transparent url(../images/menu-close.png) no-repeat right center;
        background-size: 18px;
        height: 18px;
        padding: 0 30px 0 0;
        line-height: 18px;
        color: #ffffff !important;
    }
    .header.notop {
        top:-80px;
    }
    .header.notop .phone{
        display: none;
    }
    .start-slider .slick-slide {
        padding: 180px 0 80px 0;
    }
    .start-slider .slick-slide .container {
        max-width: 680px;
    }
    .start-slider h2 {
        font-size: 28px;
        line-height: 28px;
    }
    .start-slider p {
        margin: 20px 0;
        font-size: 22px;
    }
    .btn {
        height: 42px;
        line-height: 40px;
    }
    input {
        height: 42px;
        line-height: 42px;
    }
    h3 {
        font-size: 28px;
        line-height: 36px;
        margin: 70px 0;
    }
    .build-wrapper {
        width: 720px;
    }
    .build-list li {
        width: 240px;
        height: 180px;
        margin: 0 0 -50px 0;
    }
    .build-list li p, .team-leader > div div {
        width: 160px;
        height: 160px;
        -webkit-box-shadow: 8px 8px 0 0 #e8e8e8;
        -moz-box-shadow: 8px 8px 0 0 #e8e8e8;
        box-shadow: 8px 8px 0 0 #e8e8e8;
    }
    .build-list li p span {
        width: 230px;
        height: 230px;
        margin: -35px 0 0 -35px;
    }
    .build-list li:nth-of-type(8), .build-list li:nth-of-type(17) {
        margin: 0 0 -50px 120px;
    }
    .build-list li:nth-of-type(11) {
        margin: 0 120px -50px 0;
    }
    .build-list {
        width: 1200px;
        margin: 0 0 0 -240px;
        padding: 35px 0 75px 0;
    }
    .build-list li strong {
        font-size: 14px;
        line-height: 14px;
        min-height: 38px;
        width: 160px;
        margin: 0 0 0 -80px;
    }
    .build .btn {
        margin: 30px 0 0 0;
    }
    .why {
        padding: 0 0 50px 0;
    }
    .work-world h2 {
        font-size: 32px;
    }
    .obj-item h4 {
        font-size: 18px;
        line-height: 24px;
        margin: 10px 0 5px 0;
    }
    .materials {
        padding: 0 0 70px 0;
    }
    .own h2 strong {
        font-size: 48px;
    }
    .own h2 {
        font-size: 32px;
        line-height: 52px;
    }
    .own {
        padding: 70px 0 110px 0;
    }
    .faq li h6 {
        font-size: 16px;
        line-height: 20px;
    }
    .faq li span {
        width: 52px;
        height: 52px;
        line-height: 50px;
        font-size: 52px;
    }
    .faq-outer, .sertificates {
        background-size: 130px auto, 140px auto !important;
        min-height: 360px;
    }
    .why li img {
        width: 80px;
    }
    .jumbotron .breadcrumbs {
        margin-top: -10px;
    }
    .jumbotron {
        padding: 80px 0 40px 0;
    }
    #map {
        height: 350px;
    }
    .sert .slick-prev{
        left: 0
    }
    .sert .slick-next{
        right: 0;
    }
    .team .build-list li:nth-of-type(2):before, .team .build-list li:nth-of-type(11):after, .partners .build-list li:nth-of-type(11):after {
        width: 160px;
        height: 160px;
        left: -80px;
        top: -125px;
    }
    .team .build-list li:nth-of-type(11):after, .partners .build-list li:nth-of-type(11):after {
        left: auto;
        right: -80px;
        top: auto;
        bottom: -110px;
    }
    .team-leader {
        margin: 35px 0 20px 160px;
    }
    .team-leader > div {
        width: 215px;
        min-width: 215px;
    }
    .team-leader h4 {
        font-size: 20px;
    }
    .team {
        padding: 50px 0 160px 0;
        margin-bottom: -160px;
    }
    .price {
        padding: 50px 0 0 0;
    }
    .price .nav-tabs li a {
        margin: 0 0 15px 0;
    }
    .price .nav-tabs + .btn {
        margin: 10px 0 40px 0;
        width: auto;
        padding: 0 40px;
    }
    .obj-list{
        display: none;
    }
    .obj-short-item h4 {
        font-size: 20px;
        margin: 0 0 40px 0;
    }
    .obj-short-item h4 span{
        bottom: -30px;
    }
    .obj-short-item .btn {
        margin: 15px 0 0 0;
    }
    .objects-short .form-group{
        display: block;
        max-width: 300px;
        margin: 50px auto;
    }
    .rielt-info h6 {
        font-size: 16px;
        line-height: 22px;
    }
    .main-slider, .main-slider-nav {
        width: 720px;
    }
    .object h4 {
        margin: 25px 0 60px 0;
    }
    .object form {
        margin: 20px auto 0 auto;
    }
    .wow{
        visibility: visible !important;
        animation-name: none !important;
    }
    .modal h4 {
        font-size: 32px;
        line-height: 36px;
    }
    .modal-header {
        padding: 0 15px 30px 15px;
    }
    button.close {
        width: 46px;
        height: 46px;
    }
    button.close:after {
        width: 18px;
        height: 18px;
        left: 14px;
        top: 14px;
    }
    .modal-footer {
        padding: 25px 15px 60px 15px;
    }
    .modal-slider, .modal-slider-nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .top-menu li {
        padding: 0 0 0 30px;
    }
    .top-menu li:nth-of-type(odd) {
        padding: 0 30px 0 0;
    }
    .header .phone {
        width: auto;
        clear: right;
    }
    .logo p {
        margin: 10px 0 0 0;
        clear: left;
    }
    .header.notop .logo p {
        display: none;
    }
    .start-slider .slick-slide {
        padding: 160px 35px 50px 35px;
    }
    .start-slider h2 {
        font-size: 22px;
        line-height: 22px;
    }
    .start-slider p {
        margin: 10px 0 15px 0;
        font-size: 18px;
    }
    h3 {
        font-size: 24px;
        line-height: 32px;
        margin: 50px 0;
    }
    .build-wrapper {
        width: 480px;
    }
    .build-list {
        width: 960px;
    }
    .b-l-hide{
        display: inline-block !important;
    }
    .b-l-hide-inverse{
        display: none !important;
    }
    .build-list li:nth-of-type(8), .build-list li:nth-of-type(11), .build-list li:nth-of-type(17) {
        margin: 0 0 -50px 0;
    }
    .build-list li:nth-of-type(5), .build-list li:nth-of-type(12) {
        margin: 0 0 -50px 120px;
    }
    .build-list li:nth-of-type(7), .build-list li:nth-of-type(15) {
        margin: 0 120px -50px 0;
    }
    .why li {
        width: 32%;
        font-size: 12px;
        margin: 0 0 20px 0;
    }
    h3 span, .own h2 strong span {
        bottom: -30px;
    }
    .work-world h2 {
        font-size: 24px;
        margin: 30px 0 0 0;
    }
    .work-world {
        padding: 50px 0;
        text-align: center;
    }
    .obj-item {
        max-width: 350px;
    }
    .own h2 strong {
        font-size: 36px;
    }
    .own h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .own {
        padding: 70px 0 100px 0;
    }
    .faq-outer {
        background: url(../images/faq-bg-2.png) no-repeat right center;
        background-size: 140px auto !important;
        min-height: 350px;
    }
    .menu-close {
        top: 30px;
        right: 30px;
    }
    .footer {
        padding: 10px 15px;
        font-size: 12px;
    }
    .jumbotron {
        padding: 100px 0 40px 0;
    }
    .text .btn {
        margin: 10px 0 0 0;
        white-space: normal;
    }
    .breadcrumbs li:after {
        margin: 0 10px;
    }
    .contacts {
        padding: 50px 0 40px 0;
    }
    #map {
        height: 270px;
    }
    .team .build-list li:nth-of-type(2):before, .team .build-list li:nth-of-type(11):after, .partners .build-list li:nth-of-type(11):after {
        display: none;
    }
    .team-leader{
        display: block;
        max-width: 450px;
        margin: 40px auto;
    }
    .team-leader > div{
        display: inline-block;
        text-align: center;
        margin:40px 0;
        width:100%;
    }
    .team-leader > div + div {
        padding:0;
        margin: 35px 0 0 0;
    }
    .team-leader > div div {
        width: 200px;
        height: 200px;
    }
    .team {
        padding: 20px 0 20px 0;
        margin-bottom: -20px;
    }
    .price .nav-tabs li a {
        font-size: 16px;
    }
    .price h4 {
        font-size: 18px;
    }
    .obj-short-item {
        max-width: 500px;
        margin: 0 auto 50px auto;
    }
    .obj-short-item div{
        padding: 0;
    }
    .obj-short-item h4 {
        margin: 20px 0 40px 0;
    }
    .proj-filter {
        margin: 40px auto 30px auto;
        max-width: 350px;
    }
    .proj-filter .form-group{
        margin: 0 0 20px 0;
    }
    .rieltors {
        padding: 50px 0 0 0;
    }
    .main-slider, .main-slider-nav {
        width: 100%;
    }
    .object h4 {
        font-size: 24px;
        line-height: 28px;
        margin: 20px 0 40px 0;
    }
    .object h4 span {
        bottom: -30px;
    }
    .project-info img{
        max-width: 400px;
        display: block;
        margin: 0 auto 40px auto;
    }
    .project-info .nav-tabs {
        margin: 0 0 30px 0;
    }
    .project-info .nav-tabs li a {
        font-size: 20px;
        border-bottom: 5px solid transparent;
    }
    .project-info .nav-tabs li {
        margin: 0 20px;
    }
    .project-info .btn {
        margin: 30px 0 0 0;
    }
    .modal:before {
        display: none;
    }
    .modal h4 span {
        font-size: 18px;
    }
    .modal h4 {
        font-size: 24px;
        line-height: 24px;
    }
    .modal-header {
        padding: 0 10px 20px 10px;
    }
    #modal-video iframe {
        height: 320px;
    }
}

@media (max-width: 479px) {
    .logo p {
        margin: 5px 0 0 0;
        font-size: 10px;
        width: 110px;
        text-align: right;
    }
    .logo a {
        width: 110px;
    }
    .header .btn {
        margin: 0;
        font-size: 12px;
        padding: 0 8px;
        height: 32px;
        line-height: 30px;
    }
    .menu-btn {
        background: #fd7a00 url(../images/menu-btn.png) no-repeat center;
        background-size: 14px;
        width: 32px;
        height: 32px;
        margin: 0 0 0 10px;
    }
    .header .phone a {
        font-size: 18px;
        line-height: 14px;
    }
    .header.notop, .header{
        padding: 10px 0;
    }
    .header.notop {
        top: -60px;
    }
    .slick-arrow {
        left: 15px;
        width: 30px;
        height: 30px;
        margin: -15px 0 0 0;
    }
    .slick-next {
        left: auto;
        right: 15px;
    }
    .start-slider h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .start-slider p {
        margin: 10px 0 15px 0;
        font-size: 16px;
    }
    .btn {
        padding: 0 30px;
    }
    .start-slider .slick-slide {
        padding: 140px 35px 50px 35px;
    }
    h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .build-wrapper {
        width: 100%;
        padding: 0 15px;
    }
    .build-list {
        width: 100%;
        padding: 0;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .build-list li {
        width: 100%;
        height: auto;
        margin: 0 0 -15px 0 !important;
        padding: 40px 0;
    }
    .b-o, .b-g, .f-o, .f-g, .b-l-hide-mob, .b-l-hide {
        display: none !important;
    }
    .build-list li p span {
        width: 270px;
        height: 270px;
        margin: -40px 0 0 -40px;
    }
    .build-list li p {
        width: 190px;
        height: 190px;
    }
    .build-list li strong {
        width: 180px;
        margin: 0 0 0 -90px;
        bottom: 20px;
    }
    .why li {
        width: 49%;
    }
    .why li img {
        width: 60px;
    }
    .work-world h2 {
        font-size: 20px;
    }
    .map-pin {
        width: 290px;
    }
    .pin-2 {
        left: 60px;
        top: 70px;
    }
    .map-pin .figure {
        width: 100px;
        height: 111px;
        top: 3px;
        left: 100px;
    }
    .center-pin {
        left: 121px;
        top: -5px;
    }
    .pin-3 {
        left: 220px;
    }
    .pin-4 {
        left: 240px;
    }
    .pin-5 {
        left: 275px;
    }
    .own h2 strong {
        font-size: 28px;
    }
    .own h2 {
        font-size: 18px;
        line-height: 28px;
    }
    .own {
        padding: 60px 0 90px 0;
    }
    .faq li {
        width: 75px;
    }
    .faq li h6 {
        font-size: 14px;
        line-height: 18px;
    }
    .last form h4 {
        font-size: 24px;
    }
    .last form {
        padding: 20px;
    }
    .top-menu li {
        padding: 0 0 0 20px;
    }
    .top-menu li:nth-of-type(odd) {
        padding: 0 20px 0 0;
    }
    .jumbotron {
        padding: 70px 0 30px 0;
    }
    .text .btn {
        font-size: 12px;
        padding: 0 15px;
    }
    .sert {
        padding: 0 15px;
    }
    .team-leader h4 {
        font-size: 18px;
    }
    .price .nav-tabs li a span:after {
        width: 22px;
        height: 22px;
        border: 4px solid #ffeedc;
        margin: 5px 0 0 5px;
    }
    .price .nav-tabs li a span {
        width: 32px;
        height: 32px;
        margin: -16px 0 0 0;
    }
    .price .nav-tabs li a {
        padding: 0 35px 0 0;
        font-size: 14px;
        margin: 0 0 10px 0;
        line-height: 20px;
    }
    .price .nav-tabs li.active a{
        padding: 0 0 0 35px;
    }
    .obj-short-item h4 {
        font-size: 18px;
    }
    .proj-filter p {
        font-size: 16px;
    }
    .rielt-info h6 {
        font-size: 14px;
        line-height: 18px;
    }
    .rielt-info strong {
        font-size: 16px;
        line-height: 20px;
    }
    .rielt-info b {
        font-size: 20px;
        line-height: 20px;
    }
    .rieltors p {
        margin: 10px 0 0 0;
    }
    .head-fix {
        height: 95px;
    }
    .object h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .project-info .nav-tabs li a {
        font-size: 18px;
    }
    .project-info .nav-tabs li {
        margin: 0 10px;
    }
    .modal-body {
        padding: 0;
    }
    .modal-header {
        padding: 0 0 20px 0;
    }
    #modal-video iframe {
        height: 320px;
    }
}

@media (min-width: 991px) {
    .header nav {
        display: inline-block !important;
    }
}