@charset "UTF-8";
* {
    vertical-align: top;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: transparent;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus, *:hover, *:active, *:visited, a:focus, a:hover, a:active, a:visited {
    outline: none;
    text-decoration: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}
img, object {
    max-width: 100%;
}
li {
    list-style-type: none;
}
a{
    display: inline;
    cursor: pointer;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
@font-face{
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-Bold.eot');
    src: url('../fonts/PT_Sans-Web-Bold.eot?iefix') format('eot'),
    url('../fonts/PT_Sans-Web-Bold.woff') format('woff'),
    url('../fonts/PT_Sans-Web-Bold.ttf') format('truetype'),
    url('../fonts/PT_Sans-Web-Bold.svg#webfont') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-Regular.eot');
    src: url('../fonts/PT_Sans-Web-Regular.eot?iefix') format('eot'),
    url('../fonts/PT_Sans-Web-Regular.woff') format('woff'),
    url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype'),
    url('../fonts/PT_Sans-Web-Regular.svg#webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: 'PT Sans','Open Sans','Roboto',sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    color: #383838;
}
.btn, input, select, textarea {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}
.btn, a, button, .obj-item, .faq li span, .faq li h6, .price .nav-tabs li a span {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.slick-arrow, h3 span:after, .own h2 strong span:after, .build-list li p span, .team-leader > div div span, .faq li span:before, .table span.plus:after, .table span.minus:after, .obj-short-item h4 span:after, .object h4 span:after, button.close:after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
h3 span, .own h2 strong span, .build-list li p, .team-leader > div div, .faq li span, .faq.active span:before, .team .build-list li:nth-of-type(2):before, .team .build-list li:nth-of-type(11):after, .partners .build-list li:nth-of-type(11):after, .price .nav-tabs li a span:after, .table span.plus, .table span.minus, .obj-short-item h4 span, .irs-slider, .object h4 span, button.close, .main-slider-nav .slick-arrow:before, .modal-slider-nav .slick-arrow:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slick-next, h3 span:before, .own h2 strong span:before{
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
section {
    display: inline-block !important;
    width: 100%;
    background-size: cover !important;
    /*overflow: hidden;*/
}
.link, .link:focus{
    text-decoration: underline;
    color: #fd7a00;
}
.link:hover{
    text-decoration: none;
    color: #fd7a00;
}
.top-menu li a:hover, .header .phone a:hover, .header.notop .phone a:hover, .header.notop .top-menu li a:hover, .header.grey .phone a:hover, .header.grey .top-menu li a:hover {
    color: #fd7a00;
}
.btn{
    height: 46px;
    line-height: 44px;
    text-align: center;
    color: #383838;
    text-transform: uppercase;
    padding: 0 50px;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid #fd7a00;
}
.btn-lg{
    padding: 0 80px;
}
.btn-sm{
    padding: 0 20px;
}
.btn-full{
    width: 100%;
}
.btn-sm-h{
    height: 42px;
    line-height: 42px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
}
.btn-bordered-o {
    border-color: #fd7a00;
    background: transparent;
}
.btn-bordered-o:hover {
    background: #fd7a00;
    color: #fff;
}
.btn-filled-o {
    border-color: #fd7a00;
    background: #fd7a00;
    color: #fff;
}
.btn-filled-o:hover {
    background: transparent;
    color: #383838;
}
.btn-bordered-g {
    border-color: #00ac00;
    background: transparent;
}
.btn-bordered-g:hover {
    background: #00ac00;
    color: #fff;
}
.btn-filled-g {
    border-color: #00ac00;
    background: #00ac00;
    color: #fff;
}
.btn-filled-g:hover {
    background: transparent;
    color: #383838;
}
.white, .header.notop .btn:hover, .header.grey .btn:hover {
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    padding: 20px 0;
    transition: 0.5s;
}
.header.grey{
    background: #f4f4f4;
    color: #383838;
}
.header.black {
    background: transparent;
}
.header.notop{
    background: #f4f4f4;
    top: -110px;
    color: #383838;
    padding: 15px 0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.header.notop.active{
    top: 0;
}
.logo{
    float: left;
    margin: 3px 0 0 0;
}
.logo a{
    width: 160px;
    display: inline-block;
    float: left;
}
.logo p{
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14px;
    margin: 5px 0 0 30px;
}
.header .btn {
    float: right;
    color: #fff;
    margin: 0 0 0 20px;
}
.header .phone {
    float: right;
    text-align: right;
    margin: 3px 0 0 0;
}
.header .phone a{
    font-size: 24px;
    font-weight: 800;
    line-height: 18px;
    display: block;
    color: #fff;
}
.header .phone a + a{
    float: none;
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0 0 0;
}
.header nav {
    width: 100%;
    display: inline-block;
}
.top-menu{
    float: right;
    margin: 15px 0 0 0;
}
.top-menu li{
    float: left;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}
.top-menu li a{
    color: #fff;
}
.header.notop .btn, .header.notop .phone a, .header.notop .top-menu li a, .header.grey .btn, .header.grey .phone a, .header.grey .top-menu li a{
    color: #383838;
}
.start-slider .slick-slide {
    padding: 230px 0 150px 0;
    text-align: center;
    color: #fff;
    background-size: cover !important;
}
.start-slider h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    max-width: 800px;
    margin: 0 auto;
}
.start-slider p {
    margin: 30px auto;
    font-size: 30px;
    max-width: 800px;
}
.start-slider .btn:hover{
    color: #ffffff;
}
.slick-arrow {
    position: absolute;
    left: 120px;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 0;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    z-index: 2;
    color: transparent;
    font-size: 0.001em;
}
.slick-next{
    left: auto;
    right: 120px;
}
.slick-arrow:hover{
    opacity: 0.5;
}
h3{
    position: relative;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin: 100px 0 80px 0;
}
h3 span, .own h2 strong span, .obj-short-item h4 span, .object h4 span{
    position: absolute;
    left:50%;
    margin: 0 0 0 -11px;
    width: 22px;
    height: 22px;
    background: transparent;
    padding: 3px;
    bottom: -40px;
    display: inline-block;
    border: 1px solid rgba(253, 121, 0, 0.6);
}
h3 span i, .own h2 strong span i, .obj-short-item h4 span i, .object h4 span i {
    display: inline-block;
    width:100%;
    height:100%;
    background: #fd7900;
}
h3 span:before, h3 span:after, .own h2 strong span:before, .own h2 strong span:after{
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    background: #ffc287;
    background: -moz-linear-gradient(left, #ffc287 0%, transparent 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ffc287), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, #ffc287 0%, transparent 100%);
    background: -o-linear-gradient(left, #ffc287 0%, transparent 100%);
    background: -ms-linear-gradient(left, #ffc287 0%, transparent 100%);
    background: linear-gradient(to right, #ffc287 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7a00', endColorstr='transparent', GradientType=1 );
}
h3 span:before, .own h2 strong span:before {
    transform-origin: left top;
    left: 0;
    top: 21px;
}
h3 span:after, .own h2 strong span:after {
    transform-origin: left top;
    right: -60px;
    top: 0;
}
.build-wrapper{
    width: 1110px;
    margin: 0 auto;
}
.build-list {
    width: 1850px;
    margin: 0 0 0 -370px;
    display: inline-block;
    padding: 50px 0 110px 0;
}
.build-list li {
    width: 370px;
    float: left;
    height: 280px;
    text-align: center;
    position: relative;
    margin: 0 0 -85px 0;
}
.build-list li p, .team-leader > div div{
    overflow: hidden;
    display: inline-block;
    width: 240px;
    height: 240px;
    -webkit-box-shadow: 12px 12px 0 0 #e8e8e8;
    -moz-box-shadow: 12px 12px 0 0 #e8e8e8;
    box-shadow: 12px 12px 0 0 #e8e8e8;
}
.build-list li p span, .team-leader > div div span{
    display: inline-block;
    width: 340px;
    height: 340px;
    margin: -50px 0 0 -50px;
}
.build-list li p span img, .team-leader > div div img {
    width:100%;
    height: 100%;
}
.build-list li strong{
    font-weight: 800;
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: table;
    left: 50%;
    width: 200px;
    background: #fd7a00;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 18px;
    margin: 0 0 0 -100px;
    min-height: 50px;
}
.build-list li strong span{
    width:100%;
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}
.build-list li p.b-o, .build-list li p.f-o, .build-list li p.b-g, .build-list li p.f-g {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.build-list li p.b-o {
    border: 1px solid #ff9b2d;
}
.build-list li p.f-o {
    background: #ffeedc;
}
.build-list li p.b-g {
    border: 1px solid #cccccc;
}
.build-list li p.f-g {
    background: #f0f0f0;
}
.build-list li:nth-of-type(8), .build-list li:nth-of-type(17) {
    margin: 0 0 -85px 185px;
}
.build-list li:nth-of-type(11) {
    margin: 0 185px -85px 0;
}
.build .btn{
    margin: 50px 0 0 0;
}
.why ul{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.why li{
    display: inline-block;
    width:16%;
    padding: 0 15px;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}
.why li p{
    margin: 15px 0 0 0;
}
.why {
    padding: 0 0 80px 0;
}
.work-world{
    padding: 70px 0 100px 0;
    text-align: center;
}
.work-world h2{
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
    margin: 40px 0 0 0;
    font-weight: 800;
}
.map-pin{
    width: 480px;
    height: 130px;
    display: inline-block;
    position: relative;
}
.map-pin .figure{
    position: absolute;
    background: transparent url("../images/map-figure.png") no-repeat center;
    background-size: contain;
    width: 112px;
    height: 126px;
    top: 3px;
    left: 170px;
}
.center-pin{
    position: absolute;
    background: transparent url("../images/center-pin.png") no-repeat center;
    width: 59px;
    height: 102px;
    left: 198px;
    top: 0;
}
.pin-1, .pin-2, .pin-3, .pin-4, .pin-5 {
    position: absolute;
    background: transparent url("../images/pin.png") no-repeat left top;
    background-size: contain;
    width: 23px;
    height: 32px;
}
.pin-1{
    left: 0;
    top: 40px;
    width: 18px;
    opacity: 0.7;
}
.pin-2{
    left: 100px;
    top: 50px;
}
.pin-3{
    left: 310px;
    top: 10px;
    width: 18px;
}
.pin-4{
    left: 325px;
    bottom: 0;
}
.pin-5{
    left: 405px;
    top: 40px;
    width: 14px;
    height: 20px;
    opacity: 0.7;
}
.objects {
    text-align: center;
}
.obj-item{
    display: inline-block;
    color: #fff;
    background: #fe7e00;
    margin: 0 0 50px 0;
    width:100%;
}
.obj-item:hover{
    color: #fff;
    -webkit-box-shadow:  0 10px 30px rgba(0,0,0,0.3);
    -moz-box-shadow:  0 10px 30px rgba(0,0,0,0.3);
    box-shadow:  0 10px 30px rgba(0,0,0,0.3);
}
.obj-item img{
    width: 100%;
}
.obj-item h4{
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 28px;
    margin: 15px 0 10px 0;
}
.obj-item .btn{
    border-color: #fff;
    color: #fe7e00;
    background: #fff;
    margin: 15px 0 20px 0;
}
.obj-item .btn:hover {
    background: transparent;
    color: #fff;
}
.materials{
    text-align: center;
    padding: 0 0 100px 0;
}
.materials .btn{
    margin: 50px 0 5px 0;
}
.own{
    padding: 90px 0 150px 0;
    text-align: center;
}
.own h2{
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 60px;
}
.own h2 strong{
    display: block;
    font-size: 60px;
    color: #ffc388;
    position: relative;
}
.own h2 strong span {
    border: 1px solid rgba(255,255,255,0.6);
}
.own h2 strong span i{
    background: #fff;
}
.own h2 strong span:before, .own h2 strong span:after{
    background: #fff;
    background: -moz-linear-gradient(left, #fff 0%, transparent 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fff), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, #fff 0%, transparent 100%);
    background: -o-linear-gradient(left, #fff 0%, transparent 100%);
    background: -ms-linear-gradient(left, #fff 0%, transparent 100%);
    background: linear-gradient(to right, #fff 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7a00', endColorstr='transparent', GradientType=1 );
}
.faq{
    display: table;
    width:100%;
    margin: 0 0 40px 0;
    cursor: pointer;
}
.faq li{
    display: table-cell;
    width: 100px;
}
.faq li + li{
    width: auto;
    vertical-align: middle;
}
.faq li span{
    width: 64px;
    height: 64px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 72px;
    color: #fff;
    background: #ffc287;
    position: relative;
}
.faq li span:before{
    position: absolute;
    content: '+';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: 1s cubic-bezier(.1, -1.5, .1, 2.5);
    -moz-transition: 1s cubic-bezier(.1, -1.5, .1, 2.5);
    -o-transition: 1s cubic-bezier(.1, -1.5, .1, 2.5);
    transition: 1s cubic-bezier(.1, -1.5, .1, 2.5);
}
.faq li h6{
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}
.faq li p{
    margin: 25px 0 0 0;
    display: none;
}
.faq:hover li h6, .faq.active li h6{
    color: #fe7e00;
}
.faq:hover span, .faq.active span{
    background: #fe7e00;
}
.faq-outer, .sertificates{
    background: url('../images/faq-bg-1.png') no-repeat left center, url('../images/faq-bg-2.png') no-repeat right center;
    background-size: auto !important;
    min-height: 525px;
}
.last{
    background-size: contain !important;
}
.last .phone{
    text-align: center;
}
.last .phone li:nth-of-type(1) a {
    color: #fe7e00;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
}
.last .phone li:nth-of-type(1) a:hover{
    color: #383838;
}
.last .phone li:nth-of-type(2) a{
    color: #383838;
}
.last .phone li:nth-of-type(2) a:hover{
    color: #fe7e00;
}
.last .soc{
    text-align: center;
    margin: 20px 0 40px 0;
}
.last .soc li{
    display: inline-block;
    margin: 0 10px;
}
.last .soc li a {
    opacity:0.4;
}
.last .soc li a:hover {
    opacity:1;
}
.last form{
    max-width: 350px;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    padding: 30px 40px 20px 40px;
}
input{
    border: 1px solid #c6c6c6;
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}
input.white, textarea.white{
    border-color: #fff;
    background: #fff;
    color: #383838;
}
.form-group {
    margin: 0 0 10px 0;
    display: inline-block;
    width: 100%;
    position: relative;
}
textarea{
    width: 100%;
    border: 1px solid #c6c6c6;
    padding: 10px 20px;
    overflow: hidden;
    resize: none;
    height: 80px;
}
.last form .btn{
    margin: 10px 0 15px 0;
}
.last form .conf{
    font-size: 12px;
    line-height: 14px;
}
.last form h4{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.footer{
    background: #fd7a00;
    color: #ffffff;
    text-align: center;
    padding: 20px 15px;
    font-weight: 800;
}
.menu-btn, .menu-close{
    display: none;
}
.b-l-hide{
    display: none !important;
}
.jumbotron{
    padding: 60px 0 40px 0;
    text-align: center;
}
.breadcrumbs{
    margin: 10px 0;
    font-size: 12px;
}
.breadcrumbs li{
    display: inline-block;
    position: relative;
}
.breadcrumbs li:after{
    content: '>';
    margin: 0 20px;
    pointer-events: none;
    color: #383838;
}
.breadcrumbs li:last-of-type:after{
    display: none;
}
.breadcrumbs li a{
    color: #fd7a00;
}
.breadcrumbs li a:hover{
    text-decoration: underline;
}
.jumbotron .breadcrumbs{
    margin-top: -20px;
}

.text{
    padding: 40px 0 0 0;
}
.text p{
    margin: 0 0 20px 0;
}
.text h4{
    font-weight: 800;
    color: #fd7a00;
    margin: 0 0 5px 0;
}
.text .btn{
    margin: 30px 0 0 0;
}
.text .container{
    max-width: 1000px;
}
.top-menu li.active a{
    position: relative;
}
.top-menu li.active a {
    color: #d66600 !important;
    font-weight: 800;
}
.top-menu li.active a:after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -9px;
    height: 4px;
    background: #d66600;
}
.contacts{
    text-align: center;
    color: #6c6c6c;
    padding: 80px 0 40px 0;
}
.contacts h2{
    font-size: 24px;
    color: #383838;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1em;
}
.contacts a{
    color: #fd7a00;
    font-size: 24px;
    margin: 15px 0 0 0;
    display: inline-block;
    font-weight: 800;
}
.contacts a:hover{
    text-decoration: underline;
}
.contacts a:last-of-type{
    font-size: 14px;
    color: #6c6c6c;
    margin: -5px 0 15px 0;
    font-weight: 400;
}
.contacts p strong{
    display: block;
}
#map{
    width: 100%;
    height: 450px;
}
.team {
    padding: 100px 0 200px 0;
    margin-bottom: -200px;
}
.team-leader{
    display: table;
    margin: 50px 0 0 255px;
}
.team-leader > div{
    display: table-cell;
    width: 320px;
    min-width: 320px;
    vertical-align: middle;
}
.team-leader > div + div{
    width: 100%;
    padding-right: 30px;
}
.team-leader h4{
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}
.team-leader h5 {
    font-weight: 800;
    color: #fe7e00;
    margin: 0 0 15px 0;
    text-transform: uppercase;
}
.team .build-list li:nth-of-type(2), .team .build-list li:nth-of-type(11), .partners .build-list li:nth-of-type(11){
    position: relative;
}
.team .build-list li:nth-of-type(2):before, .team .build-list li:nth-of-type(11):after, .partners .build-list li:nth-of-type(11):after{
    position: absolute;
    width: 240px;
    height: 240px;
    content: '';
    display: block;
    border: 1px solid #ff9b2d;
    left: -120px;
    top: -195px;
}
.team .build-list li:nth-of-type(11):after{
    border: 1px solid #cccccc;
    left: auto;
    right: -120px;
    top: auto;
    bottom: -155px;
}
.sert{
    text-align: center;
}
.sert .slick-slide{
    padding: 0 15px;
}
.sert img {
    display: inline-block;
}
.sert .slick-arrow{
    border-color: #6d6d6d;
}
.sert .slick-prev{
    left: -50px;
}
.sert .slick-next{
    right: -50px;
}
.partners .build-list li p {
    border: 1px solid #d1d1d1;
}
.partners{
    padding: 50px 0 200px 0;
    margin-bottom: -200px;
}
.partners .build-list li p.b-o{
    border: 1px solid #ff9b2d;
}
.partners .build-list li p.b-g{
    border: 1px solid #cccccc;
}
.partners .build-list li p.f-o, .partners .build-list li p.f-g{
    border: none;
}

.partners .build-list li:nth-of-type(11):after{
    border: none;
    background: #f0f0f0;
    left: auto;
    right: -120px;
    top: auto;
    bottom: -155px;
}
.price{
    padding: 100px 0 0 0;
}
.price .nav-tabs li a{
    font-size: 18px;
    display: inline-block;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    position: relative;
    padding: 0 45px 0 0;
    opacity: 0.5;
    color: #383838;
}
.price .nav-tabs li a:hover{
    opacity: 1;
}
.price .nav-tabs li a span{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -20px 0 0 0;
    overflow: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}
.price .nav-tabs li a span:after{
    content: '';
    width: 28px;
    height: 28px;
    background: #f3c59a;
    border: 6px solid #ffeedc;
    display: inline-block;
    margin: 6px 0 0 6px;
}
.price .nav-tabs li.active a{
    opacity: 1;
    color: #d66600;
    padding: 0 0 0 45px;
}
.price .nav-tabs li.active a span{
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.price .nav-tabs + .btn{
    margin: 30px 0 0 0;
}
.table{
    width: 100%;
}
.table td{
    padding: 8px;
    text-align: center;
    width: 140px;
    min-width: 140px;
}
.table span.plus, .table span.minus{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ffc287;
    text-align: center;
    line-height: 16px;
    color: #fff;
    margin: 3px 0 0 0;
}
.table span.minus{
    background: #dddddd;
}
.table span.plus:after, .table span.minus:after{
    content: '+';
    display: inline-block;
}
.table span.minus:after{
    content: '-';
}
.table thead td, .table tfoot tr:first-of-type td{
    background: #fef3e9;
    font-weight: 800;
    height: 60px;
    vertical-align: middle;
}
.table p{
    color: #fd7a00;
    font-weight: 800;
}
.table table{
    width: 100%;
}
.table tr td:first-of-type, .table thead tr td:nth-of-type(2), .table tfoot tr td:nth-of-type(2){
    text-align: left;
}
.table table tr td:first-of-type{
    padding-left: 0;
}
.table div{
    height: 1px;
    background: #c3c3c3;
    margin: 10px 0;
}
.table .btn{
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 12px;
    margin: 10px 0 0 0;
}
.table tr td:nth-of-type(1), .table > thead > tr > td:nth-of-type(2), .table > tfoot > tr > td:nth-of-type(2) {
    width: auto;
}
.table table tr td:last-of-type{
    padding-right: 0;
    width: 132px;
    min-width: 132px;
}
.tab-content .tab-pane{
    display: none;
}
.tab-content .tab-pane.active{
    display: block;
}
.table-overflow{
    overflow: hidden;
    overflow-x: auto;
}
.price h4{
    font-size: 24px;
    line-height: 24px;
    color: #585858;
    margin: 0 0 20px 0;
}
.obj-list{
    text-align: center;
    margin: 50px 0;
}
.obj-list li {
    display: inline-block;
    margin: 0 15px;
}
.obj-list li a {
    display: inline-block;
    text-transform: uppercase;
    color: #383838;
    opacity: 0.5;
    line-height: 18px;
    font-weight: 800;
    position: relative;
}
.obj-list li a:hover{
    opacity: 1;
}
.obj-list li.active a{
    padding: 30px 0 0 0;
    opacity: 1;
    color: #d66600;
}
.obj-list li a:after{
    position: absolute;
    content: '';
    display: inline-block;
    top: -5px;
    left: 50%;
    width: 26px;
    height: 26px;
    border: 4px solid #ffe0c1;
    background: #ffc890;
    margin: 0 0 0 -13px;
    -webkit-transform: rotate(45deg) scaleY(0);
    -moz-transform: rotate(45deg) scaleY(0);
    -o-transform: rotate(45deg) scaleY(0);
    -ms-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
}
.obj-list li.active a:after{
    -webkit-transform: rotate(45deg) scaleY(1);
    -moz-transform: rotate(45deg) scaleY(1);
    -o-transform: rotate(45deg) scaleY(1);
    -ms-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1);
}
.obj-short-item{
    margin-bottom: 50px;
}
.obj-short-item img{
    width:100%;
}
.obj-short-item h4{
    font-size: 24px;
    position: relative;
    margin: 0 0 60px 0;
    text-transform: uppercase;
    font-weight: 800;
}
.obj-short-item h4 span, .object h4 span{
    left: 0;
    margin: 0 0 0 5px;
}
.obj-short-item h4 span:after, .object h4 span:after {
    width: 220px;
    height: 1px;
    position: absolute;
    content: '';
    top: -78px;
    right: -188px;
    background: #ffc287;
    background: -moz-linear-gradient(left, #ff9c2e 0%, transparent 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ff9c2e), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, #ff9c2e 0%, transparent 100%);
    background: -o-linear-gradient(left, #ff9c2e 0%, transparent 100%);
    background: -ms-linear-gradient(left, #ff9c2e 0%, transparent 100%);
    background: linear-gradient(to right, #ff9c2e 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c2e', endColorstr='transparent', GradientType=1 );
}
.obj-short-item .btn{
    margin: 25px 0 0 0;
}
select{
    height: 42px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #c6c6c6;
    width: 100%;
    padding: 0 40px 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: inset 0 0 0 5px #fff!important;
    color: #909090;
}
select.white{
    border-color: #fff;
    color: #909090;
}
.form-group i {
    position: absolute;
    z-index: 4;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
}
.form-group i:after{
    display: inline-block;
    position: absolute;
    content: '';
    width: 14px;
    height: 18px;
    border: 7px solid transparent;
    border-bottom: 9px solid transparent;
    border-top: 9px solid #fd7900;
    right: 15px;
    top: 17px;
}
.objects-short .form-group{
    display: none;
}
.irs {
    z-index: 4;
    height: 42px;
    color: #909090;
}
.irs-bar {
    background: #fd7900;
    height: 3px;
    bottom: 8px;
    z-index: 4;
}
.irs-slider {
    width: 14px;
    height: 14px;
    background: #fd7900;
    bottom: 3px;
    z-index: 4;
}
.irs-slider.type_last {
    z-index: 5;
}
.irs-line {
    height: 3px;
    bottom: 8px;
    width: 100%;
    position: absolute;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    background: #c6c6c6;
    height: 3px;
}
.proj-filter{
    margin: 50px auto 40px auto;
    max-width:800px;
}
.proj-filter:before, .proj-filter:after{
    display: table;
    clear: both;
    content: '';
}
.proj-filter p{
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 8px 0;
}
.rieltors{
    padding: 70px 0 0 0;
}
.rielt-info{
    display: table;
}
.rielt-info li{
    display: table-row;
}
.rielt-info li > div{
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 10px 0;
}
.rielt-info li > div + div{
    padding: 0 0 10px 10px;
}
.rielt-info h6{
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}
.rielt-info strong{
    font-size: 18px;
    font-weight:800;
    color: #7a7a7a;
    text-decoration: line-through;
    line-height: 24px;
}
.rielt-info b{
    font-size: 24px;
    font-weight: 800;
    color: #fd7a00;
    line-height: 24px;
}
.rieltors p {
    color: rgba(214,102,0,0.8);
    margin: 15px 0 0 0;
}
.head-fix{
    height: 120px;
}
.breadcrumbs-wrapper{
    padding: 15px 0;
}
.breadcrumbs-wrapper .breadcrumbs li:after{
    content: '-';
    margin: 0 5px 0 8px;
}
.main-slider{
    margin: 0 0 12px 0;
}
.main-slider-nav .slick-slide, .main-slider .slick-slide{
    padding: 0 6px;
}
.main-slider-nav .slick-arrow{
    left: 6px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 30px;
    margin: 0;
    border: none;
    opacity: 0.6;
    background: #fe7a00;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}
.main-slider-nav .slick-next{
    left: auto;
    right: 6px;
}
.main-slider-nav .slick-arrow:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    left: 10px;
    top: 50%;
    margin: -10px 0 0 0;
}
.main-slider-nav .slick-next:before{
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    left: 0;
}
.main-slider-nav .slick-arrow:hover{
    opacity: 1;
}
.main-slider-nav .slick-arrow.slick-disabled{
    opacity: 0;
    pointer-events: none;
}
.main-slider, .main-slider-nav {
    width: 652px;
}
.main-slider img, .main-slider-nav img, .main-slider button, .modal-slider img, .modal-slider-nav img {
    display: inline-block;
    width: 100%;
}
.object h4{
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 60px 0;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}
.object form{
    text-align: center;
    width: 260px;
    margin: 20px 0 0 0;
}
.object form span{
    font-size: 12px;
    display: inline-block;
    margin: 5px 0 0 0;
}
.project p {
    color: rgba(214,102,0,0.8);
    margin: 5px 0 0 0;
}
.object .video-btn{
    text-transform: uppercase;
    margin: 20px 0 0 0;
    text-align: left;
}
.object .video-btn:hover{
    color: #fe7a00;
}
.object .video-btn span{
    margin: 0 5px 0 0;
}
.project .form-group{
    margin: 25px 0 0 0;
    padding: 25px 0 0 0;
    border-top: 1px solid #e8e8e8;
    width: auto;
}
.project .form-group .btn{
    margin: 0 15px 15px 0;
}
.project .form-group .btn:last-of-type{
    margin: 0;
}
.project-info .nav-tabs{
    text-align: center;
    margin: 0 0 50px 0;
}
.project-info .nav-tabs li{
    display: inline-block;
    margin: 0 30px;
}
.project-info .nav-tabs li a{
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.5;
    color: #383838;
    border-bottom: 8px solid transparent;
    display: inline-block;
    padding: 0 0 5px 0;
}
.project-info .nav-tabs li a:hover{
    opacity: 1;
}
.project-info .nav-tabs li.active a{
    opacity: 1;
    color: #d66600;
    border-color: #d66600;
}
.project-info .btn{
    margin: 50px 0 0 0;
}
.project-info .tab-content p{
    margin: 20px 0 0 0;
}
.project-info .tab-content h6{
    margin: 20px 0 0 0;
    font-size: 18px;
}
.project-info img{
    width: 100%;
}
.modal-backdrop.in{
    opacity: 0.93;
}
.modal h4{
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: none;
}
.modal-dialog{
    width: 850px;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin: 20px 0;
}
.modal-header {
    border: none;
    padding: 0 15px 40px 15px;
}
.modal-footer {
    text-align: center;
    border: none;
    padding: 35px 15px 0 15px;
}
button.close {
    float: none;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 56px;
    height: 56px;
    position: relative;
    background: #fc956c;
}
button.close:after{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background: transparent url("../images/menu-close.png") no-repeat center;
    background-size: contain;
    left: 15px;
    top: 15px;
}
button.close:hover{
    opacity: 0.6;
}
.modal {
    text-align: center;
    padding: 0 15px!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-body {
    padding: 0 15px;
}
.modal form{
    max-width: 300px;
    display: inline-block;
}
.modal input {
    color: #fff;
    border: 1px solid #5d5d5d;
    transition: 0.3s;
}
.modal input:focus{
    border-color: #fff;
}
.modal .conf{
    color: #fff;
    margin: 15px 0 0 0;
    font-size: 12px;
    text-align: left;
}
.modal .conf a{
    text-decoration: underline;
    color: #fff;
}
.modal .conf a:hover{
    text-decoration: none;
}
#modal-video iframe {
    width: 100%;
    height: 460px;
}
#main-modal .modal-dialog{
    width: 100%;
}
#main-modal .modal-body{
    padding: 0;
}
.slick-vertical .slick-slide{
    border: none;
    text-align: center;
}
.modal-slider{
    width: 940px;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}
.modal-slider.active {
    visibility: visible;
    opacity: 1;
}
.modal-slider .slick-slide{
    height: 627px;
    padding: 5px 0;
}
.modal-slider .slick-slide img, .modal-slider-nav .slick-slide img {
    height: 100%;
}
.modal-slider-nav{
    width: 165px;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}
.modal-slider-nav.active {
    visibility: visible;
    opacity: 1;
}
.modal-slider-nav, .modal-slider-nav .slick-list {
    height: 622px !important;
}
.modal-slider-nav .slick-slide {
    height: 115px;
    padding: 5px 0 0 0;
    width: 100% !important;
}
.modal-slider-nav .slick-arrow{
    margin: 0;
    border: none;
    opacity: 0.6;
    background: #fe7a00;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
    height: 35px;
    left: 0;
    top: 5px;
}
.modal-slider-nav .slick-arrow:hover{
    opacity: 1;
}
.modal-slider-nav .slick-arrow.slick-disabled{
    opacity: 0;
    pointer-events: none;
}
.modal-slider-nav .slick-next {
    top: auto;
    bottom:0;
}
.modal-slider-nav .slick-arrow:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    left: 50%;
    top: 13px;
    margin: 0 0 0 -10px;
}
.modal-slider-nav .slick-next:before {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    top: auto;
    bottom: 13px;
}
.title-subtitle {
    color: #fd7900;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin: -15px 0 15px 0;
}
.modal .title-subtitle {
    margin: 10px 0 -20px 0;
    font-weight: 400;
}
.project-info img, #realtors-list img, #certificates-section .slick-slider img {
    cursor: zoom-in;
}
.img-fullsize {
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index:99999999999999;
    cursor: zoom-out;
    text-align:center;
    display: none;
}
.img-fullsize img {
    display:inline-block;
    left:50%;
    top:50%;
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position:absolute;
    pointer-events: none;
}
.start-slider {
    opacity: 0;
    transition: .3s;
}
.start-slider.slick-initialized {
    opacity: 1;
}