<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" th:attr="content=${page.pageContents[0].keywords}">
<meta name="description" th:attr="content=${page.pageContents[0].description}">
<title th:text="${page.pageContents[0].title}">Page title</title>
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/bootstrap-theme.min.css}">
<link rel="stylesheet" th:href="@{~/css/slick.css}">
<link rel="stylesheet" th:href="@{~/css/animate.css}">
<link rel="stylesheet" th:href="@{~/css/ion.rangeSlider.css}">
<link rel="stylesheet" th:href="@{~/css/style.css}">
<link rel="stylesheet" th:href="@{~/css/response.css}">
<link rel="shortcut icon" th:href="@{~/images/favicon.ico}" type="image/x-icon">
<script th:src="@{~/js/jquery-3.2.1.min.js}"></script>
