    <!-- Modal Call -->
    <div class="modal fade modal-form" id="modal-call" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Закажите звонок</h4>
                    <p class="title-subtitle">мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="заказать звонок">Позвоните мне</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Start -->
    <div class="modal fade modal-form" id="modal-start" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Заполните форму</h4>
                    <p class="title-subtitle">и мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="узнать подробнее">Заказать звонок</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Build -->
    <div class="modal fade modal-form" id="modal-build" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Получите индивидуальный расчет</h4>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="индивидуальный расчет">Получить</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Materials -->
    <div class="modal fade modal-form" id="modal-materials" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Заполните форму ниже</h4>
                    <p class="title-subtitle">и мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="из чего строим">Подать заявку</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Project -->
    <div class="modal fade modal-form" id="modal-project" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Получите расчет</h4>
                    <p class="title-subtitle">мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="проект - получить расчет">Получить</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Zero -->
    <div class="modal fade modal-form" id="modal-zero" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Заполните форму ниже</h4>
                    <p class="title-subtitle">и мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="рассрочка">Подать заявку</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Price -->
    <div class="modal fade modal-form" id="modal-price" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Получите расчет</h4>
                    <p class="title-subtitle">мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="скачать все прайсы">Получить</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Realtor -->
    <div class="modal fade modal-form" id="modal-rieltor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Связаться с риелтором</h4>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="связаться с риэлтором">Заказать звонок</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Download -->
    <div class="modal fade modal-form" id="modal-download" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Получите полный каталог в pdf</h4>
                    <p class="title-subtitle">себе на почту прямо сейчас</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="email" class="form-email" placeholder="Ваш email" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="проект - скачать каталог">Скачать</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Invest -->
    <div class="modal fade modal-form" id="modal-invest" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Заполните форму</h4>
                    <p class="title-subtitle">и мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-email" placeholder="Ваш email" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="инвестирование">Подать заявку</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Price Base-->
    <div class="modal fade modal-form" id="modal-price-base" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Получите расчет</h4>
                    <p class="title-subtitle">мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="получить расчет- к. Базовая">Получить</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Price Comfort-->
    <div class="modal fade modal-form" id="modal-price-comfort" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Получите расчет</h4>
                    <p class="title-subtitle">мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="получить расчет- к. Комфорт">Получить</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Price Lux-->
    <div class="modal fade modal-form" id="modal-price-lux" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Получите расчет</h4>
                    <p class="title-subtitle">мы свяжемся с вами в ближайшее время</p>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <div class="form-group">
                            <input type="text" class="form-name" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-phone" placeholder="Ваш телефон" pattern="^[ 0-9]+$" required>
                        </div>
                        <button type="submit" class="btn btn-full btn-bordered-g white" data-form-text="получить расчет- к.Люкс">Получить</button>
                        <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf" target="_blank" >политикой конфиденциальности</a></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Video -->
    <div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe width="560" height="315" th:if="${project} != null" th:src="@{${project.video}}" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!--Main Modal-->
    <div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <div th:if="${picCount} != null" class="modal-slider">
                                    <th:block th:each="i:${#numbers.sequence(1, picCount)}">
                                        <div>
                                           <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" alt="house">
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div  th:if="${picCount} != null"  class="modal-slider-nav">
                                    <th:block th:each="i:${#numbers.sequence(1, picCount)}">
                                        <div>
                                            <img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" alt="house">
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal form thank you -->
    <div class="modal fade" id="modal-thankyou" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Благодарим вас за заявку!<p class="title-subtitle">Мы свяжемся с вами в ближайшее время.</p></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
            </div>
        </div>
    </div>

