    <!-- All pages -->
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/wow.min.js}"></script>
    <script th:src="@{~/js/script.js}"></script>
    <script th:src="@{~/js/forms-sender.js}"></script>
    <script th:src="@{~/js/forms-validations.js}"></script>
    <script type="text/javascript" src="//cdn.perezvoni.com/widget/js/przv.js?przv_code=26534-6dc20f16cd277e1e80-6-c20f16cd277e1e80532f-1e80532f" ></script>

    <!-- Index page -->
    <script th:src="@{~/js/slick.min.js}"></script>
    <script>
        $(document).ready(function () {

            $('.start-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplaySpeed: 8000,
                infinite: true,
                autoplay: true
            });

            $('.why ul').each(function(){
                var highestBox = 0;
                $('p',this).each(function(){
                    $(this).height('auto');
                    if($(this).height() > highestBox) {
                        highestBox = $(this).height();
                    }
                });
                $('p',this).height(highestBox);
            });

            $('.faq').click(function () {
                if($(this).hasClass('active')){
                    $('.faq p').slideUp(300);
                    $(this).removeClass('active');
                }
                else{
                    $('.faq').removeClass('active');
                    $('.faq p').slideUp(300);
                    $(this).addClass('active').find('p').slideDown(300);
                }
            });

        });

        $(window).resize(function () {

            $('.why ul').each(function(){
                var highestBox = 0;
                $('p',this).each(function(){
                    $(this).height('auto');
                    if($(this).height() > highestBox) {
                        highestBox = $(this).height();
                    }
                });
                $('p',this).height(highestBox);
            });

        });
    </script>


    <!-- Projects page -->
    <script th:src="@{~/js/ion.rangeSlider.min.js}"></script>
    <script>
        $("#range-slider").ionRangeSlider({
            type: "double",
            min: 0,
            max: 3000,
            decorate_both: false,
            values_separator: "-",
            hide_min_max: true
        });
    </script>


    <!-- Project, Object, Realtor pages -->
    <script th:src="@{~/js/jquery.mousewheel.min.js}"></script>
    <script>
   $('.main-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            infinite: false,
            adaptiveHeight: true,
            asNavFor: '.main-slider-nav'
        });

        $('.main-slider-nav').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: false,
            focusOnSelect: true,
            asNavFor: '.main-slider',
            responsive: [
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 5
                    }
                },
                {
                    breakpoint: 650,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }
            ]
        });

        $('.main-slider button').click(function () {
            if($(window).width()<992){
                return false;
            }
        });

        $('#main-modal').on('shown.bs.modal', function (e) {
            var data_slide_id = $(e.relatedTarget).closest('.slick-slide').attr('data-slick-index');
            $('.modal-slider,.modal-slider-nav').slick('slickGoTo', data_slide_id);
            setTimeout(function(){
                $('.modal-slider,.modal-slider-nav').addClass('active');
                }, 500);
        }).on('hidden.bs.modal', function () {
            $('.modal-slider,.modal-slider-nav').removeClass('active');
        });

        $('.modal-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            infinite: false,
            swipe: false,
            vertical: true,
            lazyLoad: 'ondemand',
            asNavFor: '.modal-slider-nav'
        }).mousewheel(function(event, delta) {
            if (delta > 0){
                $('.modal-slider').slick('slickPrev');
            }
            else if (delta < 0){
                $('.modal-slider').slick('slickNext');
            }
            return false; // prevent default
        });

        $('.modal-slider-nav').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            infinite: false,
            vertical: true,
            swipe: false,
            focusOnSelect: true,
            lazyLoad: 'ondemand',
            asNavFor: '.modal-slider'
        });
    </script>


    <!-- Price page -->
    <script>
        $('.price .nav-tabs a').click(function () {
            var offset = $('.tab-content').offset();
            $('html, body').stop().animate({
                scrollTop: offset != undefined ? offset.top - 30 : 0
            }, 800);
        });
    </script>


    <!-- Team page -->
    <!-- <script src="js/slick.min.js"></script> -->
    <script>
        $(document).ready(function () {

            $('.sert').slick({
                slidesToShow: 3,
                slidesToScroll: 3,
                autoplaySpeed: 8000,
                infinite: true,
                autoplay: false,
                responsive: [
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
