<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>

    <header id="header-section" th:classappend="((${#request.requestURI}=='/') or (${#request.requestURI}=='/index')) ? header : 'header black grey'">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img th:src="@{~/images/logo.png}" alt="ecmos group">
                </a>
                <p>Производство<br>модульной недвижимости</p>
            </div>
            <button type="button" class="menu-btn"></button>
            <button type="button" class="btn btn-sm btn-sm-h btn-bordered-o" data-toggle="modal" data-target="#modal-call">ЗАКАЗАТЬ ЗВОНОК</button>
            <div class="phone">
                <a th:href="'tel:'+${page.phone}" th:text="${page.phone}"></a>
                <a th:href="'mailto:'+${page.emailTo}" th:text="${page.emailTo}"></a>
            </div>
            <nav>
                <button type="button" class="menu-close">закрыть</button>
                <ul class="top-menu">
                    <li th:each="i : ${#numbers.sequence(0, #lists.size(siteMenu) - 1)}" th:classappend="${#strings.contains(#request.requestURI, siteMenu[i].uri)} ? active"><a th:text="${siteMenu[i].name}" th:href="@{'~/' + ${siteMenu[i].uri}}">Name</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="indexpage-slider-section" class="start">
        <div class="start-slider">
            <div  th:each="slide : ${slides}" th:style="'background: #3a261e url(' + @{'~/images/slider/' + ${slide.id} + '.jpg'} + ') no-repeat center;'">
                <div class="container">
                    <h2 th:text="${slide.slideContents[0].textBig}"></h2>
                    <p th:text="${slide.slideContents[0].TextSmall}"></p>
                    <button type="button" class="btn btn-filled-o" data-toggle="modal" data-target="#modal-start">ПОДРОБНЕЕ</button>
                </div>
            </div>
        </div>
    </section>

    <section id="jumbotron-section" class="jumbotron" th:style="'background: #e5e5e5 url(' + @{~/images/jumbotron-bg.jpg} + ') no-repeat center bottom;'">
        <div class="container">
            <h3 th:text="${page.pageContents[0].title}">Page title<span><i></i></span></h3>
            <ol class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li th:text="${page.pageContents[0].name}">Page name</li>
            </ol>
        </div>
    </section>

    <section id="last-section"  class="last" th:style="'background: #fff url(' + @{~/images/last-bg.jpg} + ') no-repeat center bottom;'">
        <div class="container">
            <h3 class="wow fadeInLeft">Компания ECMOS<span><i></i></span></h3>
            <ul class="phone">
                <li><a th:href="'tel:'+${page.phone}" th:text="${page.phone}"></a></li>
                <li><a th:href="'mailto:'+${page.emailTo}" th:text="${page.emailTo}"></a></li>
            </ul>
            <ul class="soc">
                <li>
                    <a th:href="@{${page.smFb}}" target="_blank">
                        <img th:src="@{~/images/fb.png}" alt="facebook">
                    </a>
                </li>
                <li>
                    <a th:href="@{${page.smVk}}" target="_blank">
                        <img th:src="@{~/images/vk.png}" alt="vkontakte">
                    </a>
                </li>
                <li>
                    <a th:href="@{${page.smIn}}" target="_blank">
                        <img th:src="@{~/images/in.png}" alt="instagram">
                    </a>
                </li>
                <li>
                    <a th:href="@{${page.smYt}}" target="_blank">
                        <img th:src="@{~/images/yt.png}" alt="youtube">
                    </a>
                </li>
            </ul>
            <form class="wow fadeInUp modal-form" id="footer-form" novalidate>
                <h4 class="modal-title">Заполните форму</h4>
                <p class="title-subtitle">и мы ответим вам в ближайшее время</p>
                <div class="form-group">
                    <input type="email" class="white form-email" placeholder="Ваш email" required>
                </div>
                <div class="form-group">
                    <textarea class="white form-text" placeholder="Введите текст" required></textarea>
                </div>
                <button type="submit" class="btn btn-filled-g btn-full" data-form-text="футер">отправить</button>
                <p class="conf">*Мы не передаем ваши персональные данные третьим лицам<br><br>** Я даю согласие на обработку персональных данных и соглашаюсь c <a href="/images/policy.pdf">политикой  конфиденциальности</a></p>
            </form>
        </div>
    </section>

    <footer th:text="'© 2015-' + ${#dates.year(#dates.createNow())} + ' ВСЕ ПРАВА ЗАЩИЩЕНЫ'" id="footer-section" class="footer">© 2015-2017 ВСЕ ПРАВА ЗАЩИЩЕНЫ</footer>

</body>
</html>