<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-map-marker"></i>КОНТАКТЫ</h3>
				</div>
				<div class="panel-body">
					<form enctype="multipart/form-data" id="form-store">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-phone"></i></span>
							<input id="form-phone" type="text" class="form-control" placeholder="Изменить телефон" aria-describedby="basic-addon1" th:value="${contact.phone}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
							<input id="form-emailTo" type="text" class="form-control" placeholder="Изменить email" aria-describedby="basic-addon1" th:value="${contact.emailTo}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;</span>
							<input id="form-infoTitle" type="text" class="form-control" placeholder="Изменить тайтл" aria-describedby="basic-addon1" th:value="${contact.contactContents[0].infoTitle}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-compass"></i></span>
							<input id="form-infoAddress" type="text" class="form-control" placeholder="Изменить адрес" aria-describedby="basic-addon1" th:value="${contact.contactContents[0].infoAddress}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
							<input id="form-infoWorking" type="text" class="form-control" placeholder="Изменить время работы" aria-describedby="basic-addon1" th:value="${contact.contactContents[0].infoWorking}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;</span>
							<input id="form-smFb" type="text" class="form-control" placeholder="Изменить ссылку на Facebook" aria-describedby="basic-addon1" th:value="${contact.smFb}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-vk" aria-hidden="true"></i>&nbsp;</span>
							<input id="form-smVk" type="text" class="form-control" placeholder="Изменить ссылку на ВКонтакте" aria-describedby="basic-addon1" th:value="${contact.smVk}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-youtube" aria-hidden="true"></i>&nbsp;</span>
							<input id="form-smYt" type="text" class="form-control" placeholder="Изменить ссылку на YouTube" aria-describedby="basic-addon1" th:value="${contact.smYt}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;</span>
							<input id="form-smIn" type="text" class="form-control" placeholder="изменить ссылку LinkedIn" aria-describedby="basic-addon1" th:value="${contact.smIn}">
						</div>
						<div class="form-group">
							<label for="form-text">Телефонные номера</label>
							<textarea id="form-infoPhones" class="form-control" rows="5" placeholder="Телефонные номера" th:utext="${contact.contactContents[0].infoPhones}">Телефонные номера</textarea>
						</div><br>
						<button class="btn btn-primary" type="submit" value="Submit">Сохранить</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-offset-1 col-sm5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-map-marker"></i>Карта</h3>
				</div>
				<div class="panel-body">
					<div id="map" style="height: 490px"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{~/adm/js/contact.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA1r_EKrIBbzNIN10hd0DAYJvj4HxNyBw&callback=initMap" async defer></script>
<script th:inline="javascript">
var map;
var marker;
var latitude =parseFloat(/*[[${contact.adressLtg}]]*/);
var longitude = parseFloat(/*[[${contact.adressLng}]]*/);
function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: latitude, lng: longitude},
		zoom: 10
		});
		window.marker = new google.maps.Marker({
			position: {lat: latitude, lng: longitude},
			map: map
		});
		google.maps.event.addListener(map, 'click', function(event) {
			latitude=event.latLng.lat();
			longitude=event.latLng.lng();
			if (window.marker && window.marker.setMap) {
				window.marker.setMap(null);
			}
			window.marker = new google.maps.Marker({
				position: event.latLng,
				map: map
			});
		});
}
</script>
