<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-truck"></i>СВОЕ ПРОИЗВОДСТВО</h3>
				</div>
				<div class="panel-body">
					<form enctype="multipart/form-data" id="form-store">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-text-height"></i></span>
							<input id="form-textSmall" type="text" class="form-control" placeholder="Малый текст"  th:value="${facility.facilityContents[0].textSmall}">
						</div></br>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-text-width"></i></span>
							<input id="form-textBig" type="text" class="form-control" placeholder="Большой текст"  th:value="${facility.facilityContents[0].textBig}">
						</div></br>
						<div class="input-group">
							<label id="form-label-pic" th:style="'background: url(' + @{~/images/facility/own-bg.jpg} + ') no-repeat center;'" class="pictures-input-facility">
								<input id="form-pic" type="file" class="image-inputfile">
							</label>
						</div></br>
						<button class="btn btn-primary" type="submit" value="Submit">Сохранить</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{~/adm/js/facility.js}"></script>
