<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Добавить
						<input placeholder="Вопрос" type="text" id="faq-new-question">
						<input placeholder="Ответ" type="text" id="faq-new-answer">
						Активность <input type="checkbox" id="faq-new-active" checked>
						<a id="faq-service-add" th:name="'faqs'" class="fa fa-plus-square-o fa-lg"></a>
					</h3>
				</div>
				<table id="faqs" class="display" cellspacing="0" width="100%">
					<thead>
					<tr>
						<th>Порядок</th>
						<th>Id</th>
						<th>Вопрос</th>
						<th>Ответ</th>
						<th>Активность</th>
						<th>Удалить</th>
					</tr>
					</thead>
					<tfoot>
					<tr>
						<th>Порядок</th>
						<th>Id</th>
						<th>Вопрос</th>
						<th>Ответ</th>
						<th>Активность</th>
						<th>Удалить</th>
					</tr>
					</tfoot>
					<tbody>
						<th:block th:each="faq : ${faqs}">
							<tr th:id="'faq-row-' + ${faq.id}">
								<td th:text="${faq.ordering}" th:id="'faq-ordering-' + ${faq.id}" >Порядок</td>
								<td th:text="${faq.id}">Id</td>
								<td th:text="${faq.faqContents[0].question}" contentEditable class="faq-service-text" th:id="'faq-question-' + ${faq.id}" th:name="'faqs/' + ${faq.id} + '/end'">Вопрос</td>
								<td th:text="${faq.faqContents[0].answer}" contentEditable class="faq-service-text" th:id="'faq-answer-' + ${faq.id}" th:name="'faqs/' + ${faq.id} + '/end'">Ответ</td>
								<td><input type="checkbox" th:checked="${faq.active}" class="faq-service-active" th:id="'faq-active-' + ${faq.id}" th:name="'faqs/' + ${faq.id} + '/end'"></td>
								<td>
									<a text="1" class="fa fa-times faq-service-del" th:name="'faqs/' + ${faq.id} + '/end'"></a>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css}">
<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js}"></script>
<script th:src="@{~/adm/js/faqs.js}"></script>
