<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-university"></i>ИНВЕСТОРАМ</h3>
				</div>
				<div class="panel-body">
					<form enctype="multipart/form-data" id="form-text-page">
						<div class="form-group">
							<label for="top-text-group">Текст</label>
							<textarea class="form-control" rows="15" id="form-text" placeholder="Текст" th:text="${forInvestors.forInvestorsContents[0].text}">Текст</textarea>
						</div><br>
						<button class="btn btn-primary" type="submit" value="Submit">Сохранить</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{~/adm/js/forinvestors.js}"></script>
