<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-question"></i>ЗАЯВКИ С САЙТА</h3>
				</div>
				<table id="formrequests" class="display" cellspacing="0" width="100%">
					<thead>
					<tr>
						<th>Дата</th>
						<th>Id</th>
						<th>Форма</th>
						<th>Телефон</th>
						<th>Имя</th>
						<th>Email</th>
						<th>Text</th>
						<th>Удалить</th>
					</tr>
					</thead>
					<tfoot>
					<tr>
						<th>Дата</th>
						<th>Id</th>
						<th>Форма</th>
						<th>Телефон</th>
						<th>Имя</th>
						<th>Email</th>
						<th>Text</th>
						<th>Удалить</th>
					</tr>
					</tfoot>
					<tbody>
					<th:block th:each="formRequest : ${formRequests}">
						<tr>
							<td th:text="${#temporals.format(formRequest.requestDate, 'dd.MM.YY')}">Дата</td>
							<td th:text="${formRequest.id}">Id</td>
							<td th:text="${formRequest.form}">Форма</td>
							<td th:text="${formRequest.phone}">Телефон</td>
							<td th:text="${formRequest.name}">Имя</td>
							<td th:text="${formRequest.email}">Email</td>
							<td th:text="${formRequest.text}">Текст</td>
							<td><a th:name="'formrequests/' + ${formRequest.id} + '/end'" text="1" class="fa fa-times formrequest-service-del"></a></td>
						</tr>
					</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css}">
<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js}"></script>
<script th:src="@{~/adm/js/formrequests.js}"></script>
