<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Добавить <a th:href="@{~/admin/objecttypes/add}" class="fa fa-plus-square-o fa-lggti"></a></h3>
				</div>
				<table id="objecttypes" class="display" cellspacing="0" width="100%">
					<thead>
					<tr>
						<th>Порядок</th>
						<th>Id</th>
						<th>Название</th>
						<th>uri</th>
						<th>Активность</th>
						<th>Изображение</th>
						<th>Редактировать</th>
						<th>Удалить</th>
					</tr>
					</thead>
					<tfoot>
					<tr>
						<th>Порядок</th>
						<th>Id</th>
						<th>Название</th>
						<th>uri</th>
						<th>Активность</th>
						<th>Изображение</th>
						<th>Редактировать</th>
						<th>Удалить</th>
					</tr>
					</tfoot>
					<tbody>
					<th:block th:each="objectType : ${objectTypes}">
						<tr>
							<td th:text="${objectType.ordering}">Порядок</td>
							<td th:text="${objectType.id}">Id</td>
							<td th:text="${objectType.objectTypeContents[0].name}">Название</td>
							<td th:text="${objectType.uri}">uri</td>
							<td th:text="${objectType.active} ? '&#10004;'">Активно</td>
							<td><img th:src="@{'~/images/objecttypes/' + ${objectType.id} + '.jpg'}" height="42" width="42"></td>
							<td><a th:href="@{'~/admin/picture/' + ${objectType.id}}" text="1" class="fa fa-cogs"></a></td>
							<td><a th:href="@{'~/admin/picture/' + ${objectType.id}}" text="1" class="fa fa-times"></a></td>
						</tr>
					</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css}">
<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js}"></script>
<script th:src="@{~/adm/js/objecttypes.js}"></script>
