<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<th:block th:if="(not (${pictureType} == 'whatwebuild'))">
							Добавить
							<input placeholder="Подпись к картинке" type="text" id="picture-new-text">
							<input th:if="${pictureType} == 'partner'" placeholder="Ссылка" type="text" id="picture-new-link">
							Активность <input type="checkbox" id="picture-new-active" checked>
							<label id="small-pic-upload-button" th:style="'background-image: url(/adm/image/default-pic.png)'">
								<input type="file" class="image-inputfile" id="picture-new-pic">
							</label>
							<a id="picture-service-add" th:name="${pictureType}" class="fa fa-plus-square-o fa-lg"></a>
						</th:block>
					</h3>
				</div>
				<table id="pictures" class="display" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Порядок</th>
							<th>Id</th>
							<th>Название</th>
							<th th:if="${pictureType} == 'partner'">Ссылка</th>
							<th>Активность</th>
							<th>Изображение</th>
							<th>Удалить</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Порядок</th>
							<th>Id</th>
							<th>Название</th>
							<th th:if="${pictureType} == 'partner'">Ссылка</th>
							<th>Активность</th>
							<th>Изображение</th>
							<th>Удалить</th>
						</tr>
					</tfoot>
					<tbody>
						<th:block th:each="picture : ${pictures}">
							<tr th:id="'pic-row-' + ${picture.id}">
								<td th:text="${picture.ordering}" th:id="'picture-ordering-' + ${picture.id}" >Порядок</td>
								<td th:text="${picture.id}">Id</td>
								<td th:text="(${#lists.size(picture.pictureContents)} != 0) ? ${picture.pictureContents[0].pictureTitle} : 'n/a'" contentEditable class="picture-service-text" th:id="'picture-text-' + ${picture.id}" th:name="${picture.type} + '/' + ${picture.id} + '/end'">Название</td>
								<td th:if="${pictureType} == 'partner'" th:text="(${#lists.size(picture.pictureContents)} != 0) ? ${picture.pictureContents[0].pictureLink} : 'n/a'" contentEditable class="picture-service-text" th:id="'picture-link-' + ${picture.id}" th:name="${picture.type} + '/' + ${picture.id} + '/end'">Ссылка</td>
								<td><input type="checkbox" th:checked="${picture.active}" class="picture-service-pic-and-active" th:id="'picture-active-' + ${picture.id}" th:name="${picture.type} + '/' + ${picture.id} + '/end'" th:disabled="(${picture.type} == 'whatwebuild') ? disabled"></td>
								<td th:if="${picture.type} == 'whywe'">
									<label th:style="'background: url(' + @{'~/images/' + ${picture.type} + '/' + ${picture.id} + '.png'} + '); background-size: 100% 100%; height:42px; width:42px'">
										<input type="file" class="image-inputfile picture-service-pic-and-active" th:id="'picture-pic-' + ${picture.id}" th:name="${picture.type} + '/' + ${picture.id} + '/end'">
									</label>
								</td>
								<td th:unless="${picture.type} == 'whywe'">
									<label th:style="'background: url(' + @{'~/images/' + ${picture.type} + '/' + ${picture.id} + '.jpg'} + '); background-size: 100% 100%; height:42px; width:42px'">
										<input type="file" class="image-inputfile picture-service-pic-and-active" th:id="'picture-pic-' + ${picture.id}" th:name="${picture.type} + '/' + ${picture.id} + '/end'">
									</label>
								</td>
								<td>
									<th:block th:if=" (not (${pictureType} == 'employee')) and (not (${pictureType} == 'whatwebuild'))">
										<a text="1" class="fa fa-times picture-service-del" th:name="${picture.type} + '/' + ${picture.id} + '/end'"></a>
									</th:block>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row" th:if="${pictureType} == 'employee'">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-flag"></i>Приветствие директора</h3>
				</div>
				<div class="panel-body">
					<form enctype="multipart/form-data" id="form-text-page">
						<div class="form-group">
							<label for="form-text">Текст</label>
							<textarea class="form-control" rows="15" id="form-text" placeholder="Текст" th:text="${forTeamText} ? ${forTeamText.forTeamTextContents[0].text}">Текст</textarea>
						</div><br>
						<button class="btn btn-primary" type="submit" value="Submit">Сохранить</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css}">
<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js}"></script>
<script th:src="@{~/adm/js/pictures.js}"></script>
