<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Добавить
						<input placeholder="Категория" type="text" id="price-new-name">
						Активность <input type="checkbox" id="price-new-active" checked>
						<label id="small-pic-upload-button" th:style="'background-image: url(/adm/image/default-pic.png)'">
							<input type="file" class="image-inputfile" id="price-new-file">
						</label>
						<a id="price-service-add" th:name="'prices'" class="fa fa-plus-square-o fa-lg"></a>
					</h3>
				</div>
				<table id="prices" class="display" cellspacing="0" width="100%">
					<thead>
					<tr>
						<th>Порядок</th>
						<th>Id</th>
						<th>Категория</th>
						<th>Активность</th>
						<th>Удалить</th>
					</tr>
					</thead>
					<tfoot>
					<tr>
						<th>Порядок</th>
						<th>Id</th>
						<th>Категория</th>
						<th>Активность</th>
						<th>Удалить</th>
					</tr>
					</tfoot>
					<tbody>
						<th:block th:each="price : ${prices}">
							<tr th:id="'price-row-' + ${price.id}">
								<td th:text="${price.ordering}" th:id="'price-ordering-' + ${price.id}" >Порядок</td>
								<td th:text="${price.id}">Id</td>
								<td th:text="${price.priceContents[0].name}" contentEditable class="price-service-text" th:id="'price-name-' + ${price.id}" th:name="'prices/' + ${price.id} + '/end'">Большой текст</td>
								<td><input type="checkbox" th:checked="${price.active}" class="price-service-active" th:id="'price-active-' + ${price.id}" th:name="'prices/' + ${price.id} + '/end'"></td>
								<td>
									<a text="1" class="fa fa-times price-service-del" th:name="'prices/' + ${price.id} + '/end'"></a>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css}">
<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js}"></script>
<script th:src="@{~/adm/js/prices.js}"></script>
