<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<th:block th:if="${project}">
						<h3 class="panel-title" id='project-id' th:attr="name=${project.id}" th:text="${project.projectContents[0].name}"></h3>
					</th:block>
					<th:block th:if="not ${project}">
						<h3 class="panel-title" >Новая запись</h3>
					</th:block>
				</div>
				<div class="panel-body">
					<form enctype="multipart/form-data" id="project-settings">
						<div class="form-group">
							<div class="checkbox">
								<th:block th:if="${project}">
									<label>
										<input type="checkbox" id="form-typeProject" th:field="${project.typeProject}"> Проект
									</label>
									<label>
										<input type="checkbox" id="form-typeObject" th:field="${project.typeObject}"> Объект
									</label>
									<label>
										<input type="checkbox" id="form-typeRealtor" th:field="${project.typeRealtor}"> Риэлтор
									</label>
									<label>
										<input type="checkbox" id="form-active" th:field="${project.active}"> Активность
									</label>
									<label>
										<input type="checkbox" id="form-indexOutput" th:field="${project.indexOutput}"> Показывать на главной
									</label>
								</th:block>
								<th:block th:if="not ${project}">
									<label>
										<input type="checkbox" id="form-typeProject" th:checked="(${objectTypeUri} == 'projects') ? true : false"> Проект
									</label>
									<label>
										<input type="checkbox" id="form-typeObject" th:checked="(${objectTypeUri} == 'objects') ? true : false"> Объект
									</label>
									<label>
										<input type="checkbox" id="form-typeRealtor" th:checked="(${objectTypeUri} == 'realtors') ? true : false"> Риэлтор
									</label>
									<label>
										<input type="checkbox" id="form-active" checked> Активность
									</label>
									<label>
										<input type="checkbox" id="form-indexOutput"> Показывать на главной
									</label>
								</th:block>
							</div>
						</div>
						<hr>
						<br>
						<div class="form-group">
							<label for="form-name">Название</label>
							<input id="form-name" type="text" class="form-control" placeholder="Название" th:value="${project} ? ${project.projectContents[0].name}">
						</div>
						<div class="form-group">
							<label for="form-objectType">Тип обьекта:</label>
							<select class="form-objectType btn btn-success" id="form-objectType">
								<option value="NULL" th:selected="(not ${project} or not ${project.objectType})">Без типа</option>
								<option th:each="objectType : ${objectTypes}"
									th:value="${objectType.id}"
									th:text="${objectType.name}"
									th:selected="(${project} and ${project.objectType}) ? (${objectType.id} == ${project.objectType.id})">
								</option>
							</select>
						</div>
						<div class="form-group">
							<label for="form-address">Адрес</label>
							<input id="form-address" type="text" class="form-control" placeholder="Адрес" th:value="${project} ? ${project.projectContents[0].address}">
						</div>
						<div class="form-group">
							<label for="form-dimensions">Внешние размеры, м</label>
							<input id="form-dimensions" type="text" class="form-control" placeholder="Внешние размеры, м" th:value="${project} ? ${project.dimensions}">
						</div>
						<div class="form-group">
							<label for="form-square">Жилая площадь, м2</label>
							<input id="form-square" type="number" class="form-control" placeholder="Жилая площадь, м2" th:value="${project} ? ${project.square}">
						</div>
						<div class="form-group">
							<label for="form-coast">Стоимость, у. е.</label>
							<input id="form-coast" type="number" class="form-control" placeholder="Стоимость, у. е." th:value="${project} ? ${project.coast}">
						</div>
						<div class="form-group">
							<label for="form-coastAction">Акционная стоимость, у. е.</label>
							<input id="form-coastAction" type="number" class="form-control" placeholder="Акционная стоимость, у. е." th:value="${project} ? ${project.coastAction}">
						</div>
						<div class="form-group alert alert-warning">
							<div class="col-md-6">
								<label for="form-actionBegin">Начало акции</label>
								<input id="form-actionBegin" type="date" class="form-control" placeholder="Начало акции" th:value="${project} ? ${#temporals.format(project.actionBegin,'YYYY-MM-dd')} : ''">
							</div>
							<div class="col-md-6">
								<label for="form-actionEnd">Конец акции</label>
								<input id="form-actionEnd" type="date" class="form-control" placeholder="Конец акции" th:value="${project} ? ${#temporals.format(project.actionEnd,'YYYY-MM-dd')} : ''">
							</div>
						</div>
						<div class="form-group">
							<label for="form-video">Видео</label>
							<input id="form-video" type="text" class="form-control" placeholder="Видео" th:value="${project} ? ${project.video}">
						</div>
						<div class="form-group row">
							<div class="col-md-8 col-sm-6">
								<label for="form-generalDescription">Общее описание</label>
								<textarea id="form-generalDescription" class="form-control" placeholder="Общее описание" rows="6" th:text="${project} ? ${project.projectContents[0].generalDescription}"></textarea>
							</div>
							<div class="col-md-3 col-sm-6">
								<label id="label-plan" th:style="${project} ? 'background-image: url(' + @{'~/images/projects/' + ${project.id} + '/plan/plan.jpg'} + '), url(/adm/image/default-pic.png)' : 'background-image: url(/adm/image/default-pic.png)'" class="pictures-input">
									<input id="form-plan" type="file" class="image-inputfile">
								</label>
								<th:block th:if="${project}">
									<a th:name="'/admin/project/' + ${project.id} +'/plan/plan'" text="1" class="fa fa-times project-plans"></a>
								</th:block>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-8 col-sm-6">
								<label for="form-floor1description">1 этаж</label>
								<textarea id="form-floor1description" class="form-control" placeholder="1 этаж" rows="6" th:text="${project} ? ${project.projectContents[0].floor1description}"></textarea>
							</div>
							<div class="col-md-4 col-sm-6">
								<label id="label-floor1" th:style="${project} ? 'background-image: url(' + @{'~/images/projects/' + ${project.id} + '/plan/floor1.jpg'} + '), url(/adm/image/default-pic.png)' : 'background-image: url(/adm/image/default-pic.png)'" class="pictures-input">
									<input id="form-floor1" type="file" class="image-inputfile">
								</label>
								<th:block th:if="${project}">
									<a th:name="'/admin/project/' + ${project.id} +'/plan/floor1'" text="1" class="fa fa-times project-plans"></a>
								</th:block>
							</div>

						<div class="col-md-8 col-sm-6">
								<label for="form-floor2description">2 этаж</label>
								<textarea id="form-floor2description" class="form-control" placeholder="2 этаж" rows="6" th:text="${project} ? ${project.projectContents[0].floor2description}"></textarea>
							</div>
							<div class="col-md-4 col-sm-6">
								<label id="label-floor2" th:style="${project} ? 'background-image: url(' + @{'~/images/projects/' + ${project.id} + '/plan/floor2.jpg'} + '), url(/adm/image/default-pic.png)' : 'background-image: url(/adm/image/default-pic.png)'" class="pictures-input">
									<input id="form-floor2" type="file" class="image-inputfile">
								</label>
								<th:block th:if="${project}">
									<a th:name="'/admin/project/' + ${project.id} +'/plan/floor2'" text="1" class="fa fa-times project-plans"></a>
								</th:block>
							</div>
							<div class="col-md-8 col-sm-6">
								<label for="form-floor3description">3 этаж</label>
								<textarea id="form-floor3description" class="form-control" placeholder="3 этаж" rows="6" th:text="${project} ? ${project.projectContents[0].floor3description}"></textarea>
							</div>
							<div class="col-md-4 col-sm-6">
								<label id="label-floor3" th:style="${project} ? 'background-image: url(' + @{'~/images/projects/' + ${project.id} + '/plan/floor3.jpg'} + '), url(/adm/image/default-pic.png)' : 'background-image: url(/adm/image/default-pic.png)'" class="pictures-input">
									<input id="form-floor3" type="file" class="image-inputfile">
								</label>
								<th:block th:if="${project}">
									<a th:name="'/admin/project/' + ${project.id} +'/plan/floor3'" text="1" class="fa fa-times project-plans"></a>
								</th:block>
							</div>
							<div class="col-md-8 col-sm-6">
								<label for="form-floor4description">4 этаж</label>
								<textarea id="form-floor4description" class="form-control" placeholder="4 этаж" rows="6" th:text="${project} ? ${project.projectContents[0].floor4description}"></textarea>
							</div>
							<div class="col-md-4 col-sm-6">
								<label id="label-floor4" th:style="${project} ? 'background-image: url(' + @{'~/images/projects/' + ${project.id} + '/plan/floor4.jpg'} + '), url(/adm/image/default-pic.png)' : 'background-image: url(/adm/image/default-pic.png)'" class="pictures-input">
									<input id="form-floor4" type="file" class="image-inputfile">
								</label>
								<th:block th:if="${project}">
									<a th:name="'/admin/project/' + ${project.id} +'/plan/floor4'" text="1" class="fa fa-times project-plans"></a>
								</th:block>
							</div>
						</div>
						</br>
						<button class="btn btn-primary" type="submit" value="Submit">Сохранить</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Фотогалерея<br>
						<label id="label-projectPics" class="pictures-input" th:style="'background-image: url(/adm/image/default-pic.png)'">
							<input id="form-projectPics" type="file" class="image-inputfile">
						</label>
					</h3>
				</div>
				<th:block th:if="${picCount}">
					<table id="project-pics" class="display" cellspacing="0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Фотография</th>
								<th>Удалить</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="i : ${#numbers.sequence(1, picCount)}">
								<tr th:id="'pic-row-' + ${i}" >
									<td th:text="${i}">Id</td>
									<td><img th:src="@{'~/images/projects/' + ${project.id} + '/pics/' + ${i} + '.jpg'}" height="42" width="42" class="project-small-pics"></td>
									<td><a th:id="'/admin/project/' + ${project.id} + '/pic/' + ${i}" text="1" class="fa fa-times project-pics"></a></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</th:block>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css}">
<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js}"></script>
<script th:src="@{~/adm/js/project.js}"></script>
