<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Добавить <a th:href="@{'~/admin/project?objectTypeUri=' + ${objectTypeUri}}" class="fa fa-plus-square-o fa-lg"></a></h3>
				</div>
				<table id="projects" class="display" cellspacing="0" width="100%">
					<thead>
					<tr>
						<th>Порядок</th>
						<th>Название</th>
						<th>Id</th>
						<th>Активность</th>
						<th>Изображение</th>
						<th>Редактировать</th>
						<th>Удалить</th>
					</tr>
					</thead>
					<tfoot>
					<tr>
						<th>Порядок</th>
						<th>Название</th>
						<th>Id</th>
						<th>Активность</th>
						<th>Изображение</th>
						<th>Редактировать</th>
						<th>Удалить</th>
					</tr>
					</tfoot>
					<tbody>
					<th:block th:each="project : ${projects}">
						<tr th:id="'proj-row-'+${project.id}">
							<td th:text="${project.ordering}">Порядок</td>
							<td th:text="${project.projectContents[0].name}">Название</td>
							<td th:text="${project.id}">Id</td>
							<td th:text="${project.active} ? '&#10004;'">Активно</td>
							<td><img th:src="@{'~/images/projects/' + ${project.id} + '/pics/1.jpg'}" height="42" width="42"></td>
							<td><a th:href="@{'~/admin/project/' + ${project.id}}" text="1" class="fa fa-cogs"></a></td>
							<td><a th:id="'/admin/project/' + ${project.id}" text="1" class="fa fa-times projects-rows"></a></td>
						</tr>
					</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css}">
<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js}"></script>
<script th:src="@{~/adm/js/projects.js}"></script>
