<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Добавить
						<input placeholder="Большой текст" type="text" id="slide-new-textbig">
						<input placeholder="Малый текст" type="text" id="slide-new-textsmall">
						<input placeholder="Ссылка" type="text" id="slide-new-link">
						Активность <input type="checkbox" id="slide-new-active" checked>
						<label id="small-pic-upload-button" th:style="'background-image: url(/adm/image/default-pic.png)'">
							<input type="file" class="image-inputfile" id="slide-new-pic">
						</label>
						<a id="slide-service-add" th:name="'slider'" class="fa fa-plus-square-o fa-lg"></a>
					</h3>
				</div>
				<table id="slides" class="display" cellspacing="0" width="100%">
					<thead>
					<tr>
						<th>Порядок</th>
						<th>Id</th>
						<th>Большой текст</th>
						<th>Малый текст</th>
						<th>Ссылка</th>
						<th>Активность</th>
						<th>Изображение</th>
						<th>Удалить</th>
					</tr>
					</thead>
					<tfoot>
					<tr>
						<th>Порядок</th>
						<th>Id</th>
						<th>Большой текст</th>
						<th>Малый текст</th>
						<th>Ссылка</th>
						<th>Активность</th>
						<th>Изображение</th>
						<th>Удалить</th>
					</tr>
					</tfoot>
					<tbody>
						<th:block th:each="slide : ${slides}">
							<tr th:id="'sld-row-' + ${slide.id}">
								<td th:text="${slide.ordering}" th:id="'slide-ordering-' + ${slide.id}" >Порядок</td>
								<td th:text="${slide.id}">Id</td>
								<td th:text="${slide.slideContents[0].textBig}" contentEditable class="slide-service-text" th:id="'slide-textbig-' + ${slide.id}" th:name="'slider/' + ${slide.id} + '/end'">Большой текст</td>
								<td th:text="${slide.slideContents[0].textSmall}" contentEditable class="slide-service-text" th:id="'slide-textsmall-' + ${slide.id}" th:name="'slider/' + ${slide.id} + '/end'">Малый текст</td>
								<td th:text="${slide.slideContents[0].link}" contentEditable class="slide-service-text" th:id="'slide-link-' + ${slide.id}" th:name="'slider/' + ${slide.id} + '/end'">Ссылка</td>
								<td><input type="checkbox" th:checked="${slide.active}" class="slide-service-pic-and-active" th:id="'slide-active-' + ${slide.id}" th:name="'slider/' + ${slide.id} + '/end'"></td>
								<td>
									<label th:style="'background: url(' + @{'~/images/slider/' + ${slide.id} + '.jpg'} + '); background-size: 100% 100%; height:42px; width:42px'">
										<input type="file" class="image-inputfile slide-service-pic-and-active" th:id="'slide-pic-' + ${slide.id}" th:name="'slider/' + ${slide.id} + '/end'">
									</label>
								</td>
								<td>
									<a text="1" class="fa fa-times slide-service-del" th:name="'slider/' + ${slide.id} + '/end'"></a>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css}">
<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js}"></script>
<script th:src="@{~/adm/js/slider.js}"></script>
